@{
    ViewBag.Title = "曲库列表";
}
<script>
    var liList = $(".main-layout-header").find('li');
    $(".main-layout-header").find('.layui-this').removeClass("layui-this");
    $.each(liList, function (index, item) {
        var selectIndex = $(item).attr("data-index");
        if (selectIndex == "1") {
            $(item).addClass("layui-this");
        }
    });

</script>

<style>
    .r_content {
        padding-top: 25px;
        padding-left: 20px;
    }

    .search_div {
        padding-left: 10px;
        margin-top: 10px;
        line-height: 50px;
        height: 50px;
        background-color: rgb(244,244,244);
    }

    #song_search_text, #audit_search_text, #audit_status_select {
        margin-right: 30px;
        height: 32px;
        width: 250px;
    }

    content, .left_menu {
        height: 500px;
    }

    .my_nav .layui-nav-item a {
        color: rgb(128, 128, 128);
    }

    .layui-nav-tree .layui-this a, .layui-nav-tree .layui-this > a:hover {
        background-color: #eee;
        color: #1E90FF;
    }

    #add_songmark_btn {
        margin-left: 10px;
    }

    .alert_page_btn {
        margin-top: 8px;
    }

    #song_mark_text {
        margin-left: 10px;
        height: 30px;
        margin-top: 8px;
    }

    #song_audit_detail_div {
        margin-right: 25px;
    }
</style>
<div class="layui-row content 5">
    <div class="layui-col-sm2 layui-col-lg2 layui-col-md2 left_menu layui-col-space">
        <ul class="my_nav layui-nav layui-nav-tree " style="margin-top:20px; background-color:white;">
            <li class="my_nav_li layui-nav-item layui-this">
                <a href="javascript:;" data-name="list">曲库列表</a>
            </li>
            <li class="my_nav_li layui-nav-item">
                <a href="javascript:;" data-name="audit">曲库审核</a>
            </li>
        </ul>
    </div>
    <!--列表-->
    <div id="song_list" class="layui-col-sm10 layui-col-lg10 layui-col-md10 layui-col-space r_content">
        <div style="margin-left:10px;">
            <button type="button" id="upload_song_btn" class="layui-btn layui-btn-normal layui-btn-sm">上传歌曲</button>
            <button type="button" id="set_song_label_btn" class="layui-btn layui-btn-primary layui-btn-sm">设置标签</button>

        </div>
        <div class="search_div">
            搜索歌曲
            <div class="layui-input-inline">
                <input type="text" id="song_search_text" autocomplete="off" placeholder="请输入歌曲名称或歌手名称" class="layui-input">
            </div>
            <button id="song_search_btn" type="button" class="layui-btn layui-btn-normal layui-btn-sm">搜索</button>
            <button id="song_search_reset_btn" type="button" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>

        </div>
        <div id="table_content">
            <table class="layui-table" lay-filter="songbook" id="songbook"></table>
        </div>
    </div>
    <!--审核-->
    <div id="song_audit" style="display:none;" class="layui-col-sm10 layui-col-lg10 layui-col-md10 r_content">

        <div class="search_div layui-form">
            搜索歌曲
            <div class="layui-input-inline">
                <input type="text" id="audit_search_text" autocomplete="off" placeholder="请输入歌曲名称或歌手名称" class="layui-input">
            </div>

            审核状态
            <div class="layui-input-inline">
                <select id="audit_status_select" lay-filter="aihao">
                    <option value="-1" selected="">全部</option>
                    <option value="1">待审核</option>
                    <option value="2">已通过</option>
                    <option value="3">未通过</option>
                </select>
            </div>


            <button id="audit_search_btn" type="button" class="layui-btn layui-btn-normal layui-btn-sm">搜索</button>
            <button id="song_audit_search_reset_btn" type="button" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>

        </div>
        <div id="table_content">
            <table class="layui-table" lay-filter="audit_list" id="audit_list"></table>
        </div>
    </div>
</div>
<script>
    var songListTable;
    var auditListTable;
    var songmarkTable;
    var songmarkList = [];
    var formSelects;// 多选框 对象
    var fileName = "";//上传文件的路径
    var duration = 0;// 音频文件的时长
    var currentId = 0;


    var auditStatus = 2;
    formSelects = layui.formSelects;

    layui.use('table', function () {

        var table = layui.table;
        // 曲库列表
        songListTable = table.render({
            elem: '#songbook'
            , height: "full-235"
            ,page: true
            , url: '@Url.Action("GetApprovedSongList", "SongManage")'
            ,limit: 10
            //,size: 'sm'
            ,limits: [10, 20, 30, 40, 50]
            ,autoSort: false //禁用前端自动排序
            , cols: [[
                {type: "numbers", fixed:"left", width:50}
                , {
                    field: '', width: 50, title: '', event: 'songListPlay', style: 'cursor: pointer;',
                    templet: function (d) {
                        return "<i class='layui-icon' >&#xe652;</i>";
                    }
                }
                , { field: 'SongName', minWidth: 100, title: '歌曲名' }
                , { field: 'SongLength', width: 120, title: '时长'}
                , { field: 'SingerName', width: 120, title: '歌手' }
                , { field: 'ExpirationTimeStr', title: '版权有效期至', width: 200 }
                , { field: 'PlayTimes', width: 120, title: '播放次数', sort: true }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 140 }
            ]]
            , parseData: function (res) { //res 即为原始返回的数据
                $.each(res.data, function (index, value) {
                    value.ExpirationTime = Service.FormatDate("yyyy-MM-dd", Service.ConvertNetDate(value.ExpirationTime));
                    // value.SongLength = Service.ConvertSecondsTime(value.SongLength);
                    var currentTime = new Date();
                    if (value.ExpirationTime) {
                        var arr1 = value.ExpirationTime.split(" ");
                        var sdate = arr1[0].split('-');
                        var date = new Date(sdate[0], sdate[1] - 1, sdate[2]);
                        if (date < currentTime) {
                            value.ExpirationTimeStr = "已过期";
                        } else {
                            value.ExpirationTimeStr = value.ExpirationTime;
                        }
                    }

                });
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
        });
        //曲库列表 按钮事件
        table.on('tool(songbook)', function (obj) { //注：tool 是工具条事件名，songbook 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'del') {
                layer.confirm('删除后商家无法选择该歌曲，已产生的记录不受影响，确认要删除吗？', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    Service.ajax(JSON.stringify({ id: data.Id }), function (result) {
                        if (result.status) {
                            layer.msg('删除成功');
                        }
                    }, '@Url.Action("DeleteSongById", "SongManage")', true);
                });
            } else if (layEvent === 'edit') { //修改歌曲信息

                $("#song_edit_songname").val(data.SongName);
                $("#song_edit_singername").val(data.SingerName);
                $("#song_edit_bpm").val(data.SongBPM);
                $("#yxq_song").val(data.ExpirationTime);
                
                var t = data.SongMark.split(',');


                if (data.SingerId > 0) {
                    $("#song_edit_singername").attr("readonly", "readonly");
                } else {
                    $("#song_edit_singername").removeAttr("readonly");
                }
                currentId = data.Id;
                fileName = data.SongPath;
                Service.ajax(JSON.stringify({}), function (result) {
                    if (result.count > 0) {

                        $("#songmark_select").empty();
                        var htmlStr = "";
                        $.each(result.data, function (index, item) {
                            htmlStr = '<option value="' + item.Id + '">' + item.MarkName + '</option>';
                            $("#songmark_select").append(htmlStr);
                        });
                        formSelects.render('songmark');
                        formSelects.value('songmark', t);
                    }
                }, '@Url.Action("GetSongMakList", "SongManage")', true);


                layer.open({
                    type: 1,
                    title: '<span style="font-weight:bolder;">上传歌曲</span>',
                    move: false,
                    btn: ['确定', '取消'],
                    skin: 'tempSkin',
                    area: ['500px', '550px'],
                    content: $('#song_add_edit_div'),
                    success: function () {
                        $('#song_add_edit_div').attr("display", 'block');
                    },
                    end: function () {
                        $('#song_add_edit_div').attr("display", 'none');
                    },
                    yes: function (index, layero) {
                        saveSong(index);
                    }
                });
            } else if (layEvent === 'songListPlay') {

                $('#play_audio').attr('src', data.FullSongPath);
                var fry_audio = $('#play_audio').get('0');
                 fry_audio.load();
                layer.open({
                    type: 1,
                    title: '<span style="font-weight:bolder;">播放歌曲</span>',
                    move: false,
                    btn: ['确定'],
                    skin: 'tempSkin',
                    area: ['500px', '200px'],
                    content: $('#songPlay_divs'),
                    success: function () {
                        $('#songPlay_divs').attr("display", 'block');
                    },
                    end: function () {
                        $('#songPlay_divs').attr("display", 'none');
                        fry_audio.pause();
                        fry_audio.load();
                    },
                    yes: function (index, layero) {
                        layer.close(index);
                    }
                });
            }
        });


        // 审核列表
        auditListTable = table.render({
            elem: '#audit_list'
            , height: "full-200"
            ,page: true
            , url: '@Url.Action("GetAuditSongList", "SongManage")'
            , limit: 10
            //, size: 'sm'
            , limits: [10, 20, 30, 40, 50]
            ,where: { keyword: "", auditStatus: -1 }
            , cols: [[
                {type: "numbers", fixed:"left", width:50}
                , {
                    field: '', width: 50, title: '', event: 'aduitListPlay', style: 'cursor: pointer;',
                    templet: function (d) {
                        return "<i class='layui-icon' >&#xe652;</i>";
                    }
                }
                , { field: 'SongName', width: 170, title: '歌曲名' }
                , { field: 'SongLength', width: 110, title: '时长'}
                , { field: 'SingerName', width: 140, title: '独立音乐人' }
                , { field: 'AuditStatusStr', title: '审核状态', width: 100 }
                , { field: 'HasCopyright', width: 100, title: '版权证明' }
                , { fixed: 'right', title: '操作', toolbar: '#barAudit', width: 140 }
            ]]
            , parseData: function (res) { //res 即为原始返回的数据
                $.each(res.data, function (index, value) {
                    value.ExpirationTime = Service.FormatDate("yyyy-MM-dd HH:mm:ss", Service.ConvertNetDate(value.ExpirationTime));
                    //value.SongLength = Service.ConvertSecondsTime(value.SongLength);
                    value.HasCopyright = Service.IsNullOrEmpty(value.CopyrightFilePath) ? "无" : "有";
                    switch (value.AuditStatus) {
                        case 1:
                            value.AuditStatusStr = "待审核";
                            break;
                        case 2:
                            value.AuditStatusStr = "已通过";
                            break;
                        case 3:
                            value.AuditStatusStr = "未通过";
                            break;
                    }
                });
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
        });
         //审核列表 按钮事件
        table.on('tool(audit_list)', function (obj) {
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'audit') {
                Service.ajax(JSON.stringify({}), function (result) {
                    if (result.count > 0) {

                        $("#songmark_select_audit").empty();
                        var htmlStr = "";
                        $.each(result.data, function (index, item) {
                            htmlStr = '<option value="' + item.Id + '">' + item.MarkName + '</option>';
                            $("#songmark_select_audit").append(htmlStr);
                        });
                        formSelects.render('songmark_audit');
                    }
                }, '@Url.Action("GetSongMakList", "SongManage")', true, true);


                $("#bqzm_img_audit").attr('src',  data.FullCopyrightFilePath);

                layer.open({
                    type: 1,
                    title: '<span style="font-weight:bolder;">歌曲审核</span>',
                    move: false,
                    btn: ['确定', '取消'],
                    skin: 'tempSkin',
                    area: ['500px', '550px'],
                    content: $('#song_audit_detail_div'),
                    success: function () {
                        $('#song_audit_detail_div').attr("display", 'block');
                    },
                    end: function () {
                        $('#song_audit_detail_div').attr("display", 'none');
                    },
                    yes: function (index, layero) {//审核完成 提交数据
                        var mark = formSelects.value('songmark_audit', 'valStr');
                        var bpm = $("#song_edit_bpm_audit").val() == null ? 0 : $("#song_edit_bpm_audit").val();
                        var note = $("#audit_note").val() == null ? "" : $("#audit_note").val();
                        var param = {
                            Id: data.Id, AuditStatus: auditStatus, SongMark: mark,
                            SongBPM: bpm, Memo: note, SingerId: data.SingerId, SongName: data.SongName
                        };
                        Service.ajax(JSON.stringify(param), function (result) {
                            if (result.status) {
                                layer.msg("操作成功");
                                layer.close(index);
                                auditListTable.reload({});
                            }
                        }, '@Url.Action("AuditSong", "SongManage")', true, true);


                    }
                });

            } else if (layEvent === 'audit_detail') {
                $("#song_audit_detail_div").empty();
                var htmlStr = '<ul class="layui-timeline">';
                Service.ajax(JSON.stringify({ songId: data.Id }), function (result) {
                    if (result.status) {
                        $.each(result.data, function (index, item) {
                            var s = "";
                            switch (item.OptType) {
                                case 1:
                                    s = "上传作品";
                                    break;
                                case 2:
                                    s = "发布作品";

                                    break;
                                case 3:
                                    s = "修改作品";
                                    break;
                                case 4:
                                    s = "审核--" + ((item.AuditStatus == 2) ? "通过" : "未通过");
                                    break;
                                default:
                            }
                            htmlStr += ' <li class="layui-timeline-item">' +
                                '<i class="layui-icon layui-timeline-axis"></i>' +
                                '<div class="layui-timeline-content layui-text">' +
                                '<h5 class="layui-timeline-title">' +
                                Service.FormatDate("yyyy-MM-dd HH:mm:ss", Service.ConvertNetDate(item.OptTime)) + "   " + s
                                + '</h5>' +
                                '</div></li>'
                        });
                        htmlStr += "</ul>";
                        $("#song_audit_detail_div").html(htmlStr);
                    }
                }, '@Url.Action("GetAuditDetail", "SongManage")', true, true);





                layer.open({
                    type: 1,
                    title: '<span style="font-weight:bolder;">审核详情</span>',
                    move: false,
                    btn: ['确定'],
                    skin: 'tempSkin',
                    area: ["500px", "400px"],
                    content: $('#song_audit_detail_div'),
                    success: function () {
                        $('#song_audit_detail_div').attr("display", 'block');
                    },
                    end: function () {
                        $('#song_audit_detail_div').attr("display", 'none');
                    },
                    yes: function (index, layero) {
                        layer.close(index);
                    }
                });
            } else if (layEvent == 'aduitListPlay') {
                $('#play_audio').attr('src', data.FullSongPath);
                var fry_audio = $('#play_audio').get('0');
                fry_audio.load();

                layer.open({
                    type: 1,
                    title: '<span style="font-weight:bolder;">播放歌曲</span>',
                    move: false,
                    btn: ['确定'],
                    skin: 'tempSkin',
                    area: ['500px', '200px'],
                    content: $('#songPlay_divs'),
                    success: function () {
                        $('#songPlay_divs').attr("display", 'block');
                    },
                    end: function () {
                        $('#songPlay_divs').attr("display", 'none');
                        fry_audio.pause();
                        fry_audio.load();
                    },
                    yes: function (index, layero) {
                        layer.close(index);
                    }
                });
            }
        });
        // 左侧菜单切换
        $(".my_nav_li").delegate("a", "click", function (e) {
            var data = $(this).attr("data-name");
            if (data == "list") {
                $("#song_audit").hide();
                $("#song_list").show();
            } else if (data == "audit") {
                $("#song_audit").show();
                $("#song_list").hide();
            }
        });
        $("#song_search_btn").click(function () {
            songListTable.reload({
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: { keyword: $("#song_search_text").val(), }
                , url: '@Url.Action("GetApprovedSongList", "SongManage")'
                , method: 'get'
            });
        });
        //监听排序
        table.on('sort(songbook)', function (obj) {
            songListTable.reload({
                initSort: obj
                , where: {
                    field: obj.field
                    , order: obj.type
                }
            });
        });
        $("#audit_search_btn").click(function () {
            auditListTable.reload({
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    keyword: $("#audit_search_text").val(),
                    auditStatus: $("#audit_status_select").val()
                }
                , url: '@Url.Action("GetAuditSongList", "SongManage")'
                , method: 'get'
            });
        });
        $("#song_search_reset_btn").click(function () {
            $("#song_search_text").val("");
            $("#song_search_btn").click();
        });
         $("#song_audit_search_reset_btn").click(function () {
             $("#audit_search_text").val("");
             $("#audit_status_select").val(-1);
             $("#audit_search_btn").click();
        });
        // 设置标签
        $("#set_song_label_btn").click(function () {
            layer.open({
                type: 1,
                title: '<span style="font-weight:bolder;">设置标签</span>',
                move: false,
                btn: ['确定', '取消'],
                skin: 'tempSkin',
                area: ['500px', '350px'],
                content: $('#song_label_edit_div'),
                success: function () {
                    $('#song_label_edit_div').attr("display", 'block');
                },
                end: function () {
                    $('#song_label_edit_div').attr("display", 'none');
                },
                yes: function (index, layero) {
                    layer.close(index);
                }
            });
        });
        //上传歌曲
        $("#upload_song_btn").click(function () {
            currentId = 0;
            $("#song_edit_songname").val("");
            $("#song_edit_singername").val("");
            $("#song_edit_bpm").val("");
            $("#yxq_song").val("");
            fileName = "";
            duration = "";
            $("#song_edit_singername").removeAttr("readonly");
            Service.ajax(JSON.stringify({}), function (result) {
                if (result.count > 0) {
                    $("#songmark_select").empty();
                    var htmlStr = "";
                    $.each(result.data, function (index, item) {
                        htmlStr = '<option value="' + item.Id + '">' + item.MarkName + '</option>';
                        $("#songmark_select").append(htmlStr);
                    });
                    formSelects.render('songmark');
                }
            }, '@Url.Action("GetSongMakList", "SongManage")', true, true);
            layer.open({
                type: 1,
                title: '<span style="font-weight:bolder;">上传歌曲</span>',
                move: false,
                btn: ['确定', '取消'],
                skin: 'tempSkin',
                area: ['500px', '550px'],
                content: $('#song_add_edit_div'),
                success: function () {
                    $('#song_add_edit_div').attr("display", 'block');
                },
                end: function () {
                    $('#song_add_edit_div').attr("display", 'none');
                },
                yes: function (index, layero) {
                    saveSong(index);

                }
            });
        });
        var saveSong = function (layerIndex) {
            var mark = formSelects.value('songmark', 'valStr');
                    if ($("#song_edit_songname").val() == "") {
                        layer.msg("歌曲名不能为空"); return;
                    }
                    if ($("#song_edit_singername").val() == "") {
                        layer.msg("歌手名不能为空"); return;
                    }
                    if (mark == "") {
                        layer.msg("歌曲标签不能为空"); return;
                    }
                    if ($("#song_edit_bpm").val()=="") {
                        layer.msg("歌曲BPM不能为空"); return;
                    }
                    if ($("#yxq_song").val() == "") {
                        layer.msg("歌曲版权有效期不能为空");
                        return;
                    }
                    if (currentId<1 && fileName == "") {
                        layer.msg("请选择音频文件");
                        return;
                    }
                    var param = {Id:currentId,
                        SongName: $("#song_edit_songname").val(), SingerName: $('#song_edit_singername').val(),
                        SongMark: mark, SongPath: fileName, SongBPM: $("#song_edit_bpm").val(),
                        ExpirationTime: $("#yxq_song").val(), SongLength: duration
                    };
                    Service.ajax(JSON.stringify(param), function (result) {
                        if (result.status) {
                            songListTable.reload({});
                            layer.msg('保存成功');
                            layer.close(layerIndex);
                        }
                    }, '@Url.Action("AddOrUpdateSong", "SongManage")', true, true);
        };
        // 标签列表
        songmarkTable = table.render({
            elem: '#songmark_table'
            , height: "180"
            , url: '@Url.Action("GetSongMakList", "SongManage")'
            , size: 'sm'
            , cols: [[
                {type: "numbers", fixed:"left", width:50}
                , { field: 'MarkName', width: 280, title: '标签名称',edit:'text' }
                , { fixed: 'right', title: '操作', toolbar: '#songmakListOpt', width: 140 }
            ]]
            , done: function (res, curr, count) {//表格数据渲染完成时调用
                songmarkList = res.data;
            }
        });
        // 监听歌曲标签表格编辑
        table.on('edit(songmark_table)', function (obj) {
            var temp;
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            var param = { "Id": obj.data.Id, "MarkName": obj.data.MarkName };
            if (obj.data.MarkName == "") {
                layer.msg("标签名称不能为空");
                return;
            }
            Service.ajax(JSON.stringify(param), function (result) {
                if (result.status) {
                    layer.msg("保存成功");
                }
            }, '@Url.Action("AddOrUpdateSongMark", "SongManage")', true, true);
            //$.each(songmarkList, function (index, item) {
            //    if (item.add) {
            //        item.Id = -1;
            //        item.MarkName = JSON.parse(obj.value);
            //        item.update = true;
            //    } else if (item.Id == obj.data.Id) {
            //        item.MarkName = JSON.parse(obj.data.MarkName);//obj.data.MarkName.toString();
            //        item.update = true;
            //    }
            //});
        });
        // 增加歌曲标签，新行
        $("#add_songmark_btn").click(function () {
            if ($("#song_mark_text").val() == "") {
                layer.msg("标签名称不能为空");
                return;
            }
            var param = { "Id": -1, "MarkName": $("#song_mark_text").val() };
            Service.ajax(JSON.stringify(param), function (result) {
                if (result.status) {
                    layer.msg("添加成功");
                    $("#song_mark_text").val("");
                    songmarkTable.reload({});
                }
            }, '@Url.Action("AddOrUpdateSongMark", "SongManage")', true, true);
            //var newNum = songmarkList.length +1;
            //var newRow = { "Id": -1, "MarkName": "", add: true };
            //songmarkList.push(newRow);
            //$($("#songmark_table").next().find(".layui-table-body").find("tbody")[0]).append('<tr data-index="3" class="">' +
            //    '<td data-field="0" data-key="3-0-0" class="layui-table-col-special">' +
            //    '<div class="layui-table-cell laytable-cell-3-0-0 laytable-cell-numbers">' + newNum +
            //    '</div></td><td data-field="MarkName" data-key="3-0-1" data-edit="text" class="">' +
            //    '<div class="layui-table-cell laytable-cell-3-0-1"> </div></td>' +
            //    '<td data-field="3" data-key="3-0-3" data-off="true" class="layui-table-col-special">' +
            //    '<div class="layui-table-cell laytable-cell-3-0-3"> ' +
            //    '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a> ' +
            //    '</div></td></tr>');
        });
        table.on('tool(songmark_table)', function (obj) {
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
             if (layEvent === 'del') {
                layer.confirm('删除后，上传或审核歌曲时无法选择标签，确认要删除吗？', function (index) {

                    layer.close(index);
                    //向服务端发送删除指令
                    Service.ajax(JSON.stringify({ id: data.Id }), function (result) {
                        if (result.status) {
                            layer.msg("删除成功");
                            obj.del(); //删除对应行（tr）的DOM结构
                        } else {
                            layer.msg(result.msg);
                        }
                    }, '@Url.Action("DeleteSongMark", "SongManage")', true, true);
                });
            }
        });
    });
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script type="text/html" id="barAudit">
    {{#  if(d.AuditStatus == '1'){ }}
    <a class="layui-btn layui-btn-xs " lay-event="audit">审核</a>
    {{# }else{  }}
    <a class="layui-btn layui-btn-primary layui-btn-xs layui-btn-disabled " lay-event="">审核</a>
    {{# } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="audit_detail">查看详情</a>
</script>

<!--禁止页面回退-->
<script language="javascript">
    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });
</script>
<div id="song_edit_div" style="display:none">

</div>

<div id="song_label_edit_div" style="display:none">
    <div class="layui-input-inline">
        <input type="text" id="song_mark_text" autocomplete="off" placeholder="请输入歌曲标签名称" class="layui-input">
    </div>
    <button type="button" id="add_songmark_btn" class="alert_page_btn layui-btn layui-btn-normal layui-btn-sm">新增</button>
    @*<button type="button" id="edit_songmark_btn" class="alert_page_btn layui-btn layui-btn-primary layui-btn-sm">编辑</button>*@

    <table class="layui-table" lay-filter="songmark_table" id="songmark_table"></table>
</div>
<script type="text/html" id="songmakListOpt">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>





<!--歌曲上传和编辑-->
<div id="song_add_edit_div" style="display:none;margin-left:15px;margin-right:25px;margin-top:10px;">
    <div class="layui-form-item">
        <label class="layui-form-label">歌曲名称</label>
        <div class="layui-input-block">
            <input type="text" id="song_edit_songname" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">歌手</label>
        <div class="layui-input-block">
            <input type="text" id="song_edit_singername" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">歌曲标签</label>
        <div class="layui-input-block">
            <select id="songmark_select" name="songmark" xm-select="songmark"></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">音频资源</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="upload_btn"><i class="layui-icon"></i>上传音频</button>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">歌曲BPM</label>
        <div class="layui-input-block">
            <input type="number" id="song_edit_bpm" name="title" lay-verify="title" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">授权有效期</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="yxq_song">
        </div>
    </div>
</div>

<script src="~/Content/layui/lay/modules/jquery.js"></script>
<script src="~/Content/layui/lay/modules/upload.js"></script>
<script>
    layui.use(['upload', 'jquery'], function () {
        var upload = layui.upload;
            var $ = layui.jquery;
        upload.render({
        elem: '#upload_btn'
        , url: '@Url.Action("UploadAudioFile", "File")'
        ,accept:'audio'
        , done: function (res) {
            if (res.status) {
                fileName = res.fileName;
                duration = res.duration;
                layer.msg("上传成功");
            } else {
                layer.msg("上传失败");
            }
        }
    });
    });


</script>
<script src="~/Content/layui/lay/modules/laydate.js"></script>
<script>
    var laydate = layui.laydate;
    laydate.render({
        elem: '#yxq_song' //指定元素
        , type: 'date'
    });
</script>


<!--审核详情-->
<div id="song_audit_detail_div" class="layui-form" style="display:none;margin-left:15px;margin-top:10px;">
    <div class="layui-form-item">
        <label class="layui-form-label">版权证明</label>
        <div class="layui-input-block">
            <img id="bqzm_img_audit" width="300" height="200" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">审核状态</label>
        <div class="layui-input-block">
            <input type="radio" lay-filter="audit_" name="audit_status" value="2" title="通过" checked="" />
            <input type="radio" lay-filter="audit_" name="audit_status" value="3" title="未通过">
        </div>
    </div>
    <div id="audit_tg">
        <div class="layui-form-item">
            <label class="layui-form-label">歌曲标签</label>
            <div class="layui-input-block">
                <select id="songmark_select_audit" name="songmark_audit" xm-select="songmark_audit"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">歌曲BPM</label>
            <div class="layui-input-block">
                <input type="number" id="song_edit_bpm_audit" name="title" lay-verify="title" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div id="audit_btg" style="display:none;" class="layui-form-item">
        <label class="layui-form-label">审核意见</label>
        <div class="layui-input-block">
            <textarea id="audit_note" placeholder="请输入,150字以内" class="layui-textarea"></textarea>
        </div>
    </div>
</div>
<script>
    layui.use('form', function () {
        var form = layui.form;

        //form.render('select', 'aihao');
        //form.render('radio', 'audit_');
        form.on('radio(audit_)', function (data) {
            auditStatus = data.value;
            if (data.value == 2) {//通过
                $("#audit_btg").hide();
                $("#audit_tg").show();

            } else {
                $("#audit_btg").show();
                $("#audit_tg").hide()
            }
        });
    });
</script>

<div id="songPlay_divs" style="display:none;margin-left:100px;margin-right:20px; margin-top:15px;">
    <audio id="play_audio" controls="controls">
        @*<source src="/i/song.ogg" type="audio/ogg">*@
        <source src="" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>