
@{
    ViewBag.Title = "曲库列表";
}
<style>
    .r_content {
        padding-top: 25px;
        padding-left: 20px;
    }

    .search_div {
        padding-left: 10px;
        margin-top: 10px;
        line-height: 50px;
        height: 50px;
        background-color: rgb(244,244,244);
    }

    #song_search_text, #audit_search_text, #audit_status_select {
        margin-right: 30px;
        height: 32px;
        width: 250px;
    }

    content, .left_menu {
        height: 500px;
    }

    .my_nav .layui-nav-item a {
        color: rgb(128, 128, 128);
    }

    .layui-nav-tree .layui-this a, .layui-nav-tree .layui-this > a:hover {
        background-color: #eee;
        color: #1E90FF;
    }

    #add_songmark_btn {
        margin-left: 10px;
    }

    .alert_page_btn {
        margin-top: 8px;
    }

    #song_mark_text {
        margin-left: 10px;
        height: 30px;
        margin-top: 8px;
    }
</style>
<div class="layui-row content">
    <div class="layui-col-sm2 layui-col-lg2 layui-col-md2 left_menu">
        <ul class="my_nav layui-nav layui-nav-tree " style="margin-top:20px; background-color:white;">
            <li class="my_nav_li layui-nav-item layui-this">
                <a href="javascript:;" data-name="list">曲库列表</a>
            </li>
            <li class="my_nav_li layui-nav-item">
                <a href="javascript:;" data-name="audit">曲库审核</a>
            </li>
        </ul>
    </div>
    <!--列表-->
    <div id="song_list" class="layui-col-sm10 layui-col-lg10 layui-col-md10 r_content">
        <div style="margin-left:10px;">
            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm">上传歌曲</button>
            <button type="button" id="set_song_label_btn" class="layui-btn layui-btn-primary layui-btn-sm">设置标签</button>

        </div>
        <div class="search_div">
            搜索歌曲
            <div class="layui-input-inline">
                <input type="text" id="song_search_text" autocomplete="off" placeholder="请输入歌曲名称或歌手名称" class="layui-input">
            </div>
            <button id="song_search_btn" type="button" class="layui-btn layui-btn-normal layui-btn-sm">搜索</button>
            <button id="song_search_reset_btn" type="button" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>

        </div>
        <div id="table_content">
            <table class="layui-table" lay-filter="songbook" id="songbook"></table>
        </div>
    </div>
    <!--审核-->
    <div id="song_audit" style="display:none;" class="layui-col-sm10 layui-col-lg10 layui-col-md10 r_content">

        <div class="search_div">
            搜索歌曲
            <div class="layui-input-inline">
                <input type="text" id="audit_search_text" autocomplete="off" placeholder="请输入歌曲名称或歌手名称" class="layui-input">
            </div>

            审核状态
            <div class="layui-input-inline">
                <select id="audit_status_select">
                    <option value="-1" selected="">全部</option>
                    <option value="1">待审核</option>
                    <option value="2">已通过</option>
                    <option value="3">未通过</option>
                </select>
            </div>


            <button id="audit_search_btn" type="button" class="layui-btn layui-btn-normal layui-btn-sm">搜索</button>
            <button id="song_audit_search_reset_btn" type="button" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>

        </div>
        <div id="table_content">
            <table class="layui-table" lay-filter="audit_list" id="audit_list"></table>
        </div>
    </div>
</div>
<script>
    var songListTable;
    var auditListTable;
    var songmarkTable;
    var songmarkList = [];
    layui.use('table', function () {
        var table = layui.table;
        // 曲库列表
        songListTable = table.render({
            elem: '#songbook'
            , height: "full-235"
            ,page: true
            , url: '@Url.Action("GetApprovedSongList", "SongManage")'
            ,limit: 10
            //,size: 'sm'
            ,limits: [10, 20, 30, 40, 50]
            ,autoSort: false //禁用前端自动排序
            , cols: [[
                {type: "numbers", fixed:"left", width:50},
                , {
                    field: '', width: 50, title: '',
                    templet: function (d) {
                        return "<i class='layui-icon' >&#xe652;</i>";
                    }
                }
                , { field: 'SongName', minWidth: 100, title: '歌曲名' }
                , { field: 'SongLength', width: 120, title: '时长'}
                , { field: 'SingerName', width: 120, title: '歌手' }
                , { field: 'ExpirationTime', title: '版权有效期至', width: 200 }
                , { field: 'PlayTimes', width: 120, title: '播放次数', sort: true }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 140 }
            ]]
            , parseData: function (res) { //res 即为原始返回的数据
                $.each(res.data, function (index, value) {
                    value.ExpirationTime = Service.FormatDate("yyyy-MM-dd HH:mm:ss", Service.ConvertNetDate(value.ExpirationTime));
                    value.SongLength = Service.ConvertSecondsTime(value.SongLength);
                });
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }

        });


        //曲库列表 按钮事件
        table.on('tool(songbook)', function (obj) { //注：tool 是工具条事件名，songbook 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
             if (layEvent === 'del') {
                layer.confirm('删除后商家无法选择该歌曲，已产生的记录不受影响，确认要删除吗？', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    Service.ajax(JSON.stringify({ id: data.Id }), function (result) {
                        if (result.status) {
                            layer.msg('删除成功');
                                }
                            }, '@Url.Action("DeleteSongById", "SongManage")', true, true);
                });
            } else if (layEvent === 'edit') {
                 layer.msg('编辑操作-待完成');
                 layer.open({
                     type: 1,
                     title: '<span style="font-weight:bolder;">上传歌曲</span>',
                     move: false,
                     btn: ['确定', '取消'],
                     skin: 'tempSkin',
                     area: [window.dlgSizeInfo.dlgWidth, window.dlgSizeInfo.dlgHeight],
                     content: $('#menu_edit_div'),
                     success: function () {
                         $('#menu_name').val(name);
                         $("#menuLevel").val(menuLevel);
                         //$('#menu_status').selectpicker('val', status);



                         $('#song_edit_div').attr("display", 'block');

                         //$(".tempSkin .layui-layer-content").css("height", $(".tempSkin").height() - 36 * 2);
                         //$(".tempSkin .layui-layer-btn a").removeClass().addClass('bottom_btn');
                     },
                     end: function () {
                         $('#song_edit_div').attr("display", 'none');
                     },
                     yes: function (index, layero) {
                         menuObj.SaveBtn();
                     }
                 });

            }
        });


        // 审核列表
        auditListTable = table.render({
            elem: '#audit_list'
            , height: "full-200"
            ,page: true
            , url: '@Url.Action("GetAuditSongList", "SongManage")'
            , limit: 10
            //, size: 'sm'
            , limits: [10, 20, 30, 40, 50]
            ,where: { keyword: "", auditStatus: -1 }
            , cols: [[
                {type: "numbers", fixed:"left", width:50},
                , {
                    field: '', width: 50, title: '',
                    templet: function (d) {
                        return "<i class='layui-icon' >&#xe652;</i>";
                    }
                }
                , { field: 'SongName', width: 200, title: '歌曲名' }
                , { field: 'SongLength', width: 80, title: '时长'}
                , { field: 'SingerName', width: 140, title: '独立音乐人' }
                , { field: 'AuditStatusStr', title: '审核状态', width: 100 }
                , { field: 'HasCopyright', width: 100, title: '版权证明' }
                , { fixed: 'right', title: '操作', toolbar: '#barAudit', width: 140 }
            ]]
            , parseData: function (res) { //res 即为原始返回的数据
                $.each(res.data, function (index, value) {
                    value.ExpirationTime = Service.FormatDate("yyyy-MM-dd HH:mm:ss", Service.ConvertNetDate(value.ExpirationTime));
                    value.SongLength = Service.ConvertSecondsTime(value.SongLength);
                    value.HasCopyright = Service.IsNullOrEmpty(value.CopyrightFilePath) ? "无" : "有";
                    switch (value.AuditStatus) {
                        case 1:
                            value.AuditStatusStr = "待审核";
                            break;
                        case 2:
                            value.AuditStatusStr = "已通过";
                            break;
                        case 3:
                            value.AuditStatusStr = "未通过";
                            break;
                    }
                });
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }

        });

         //审核列表 按钮事件
        table.on('tool(audit_list)', function (obj) { 
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'audit') {
                 layer.msg('审核操作-待完成');
                @*layer.confirm('删除后商家无法选择该歌曲，已产生的记录不受影响，确认要删除吗？', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    Service.ajax(JSON.stringify({ id: data.Id }), function (result) {
                        if (result.status) {
                            layer.msg('删除成功');
                                }
                            }, '@Url.Action("DeleteSongById", "SongManage")', true, true);
                });*@
             } else if (layEvent === 'audit_detail') {
                 $("#song_audit_detail_div").empty();
                 var htmlStr = '<ul class="layui-timeline">';
                 htmlStr+=' <li class="layui-timeline-item">'+
                        '<i class="layui-icon layui-timeline-axis"></i>' +
                        '<div class="layui-timeline-content layui-text">' +
                     '<h5 class="layui-timeline-title">2019-09-01 18:33:33  发布作品</h5>' +
                     '</div></li>'

                  htmlStr+=' <li class="layui-timeline-item">'+
                        '<i class="layui-icon layui-timeline-axis"></i>' +
                        '<div class="layui-timeline-content layui-text">' +
                     '<h5 class="layui-timeline-title">2019-09-12 11:22:12  审核通过</h5>' +
                     '</div></li>'
                 htmlStr += "</ul>";
                 $("#song_audit_detail_div").html(htmlStr);
               
                 layer.open({
                     type: 1,
                     title: '<span style="font-weight:bolder;">审核详情</span>',
                     move: false,
                     btn: ['确定'],
                     skin: 'tempSkin',
                     area: ["500px", "400px"],
                     content: $('#song_audit_detail_div'),
                     success: function () {
                         $('#song_audit_detail_div').attr("display", 'block');
                     },
                     end: function () {
                         $('#song_audit_detail_div').attr("display", 'none');
                     },
                     yes: function (index, layero) {
                         layer.close(index);
                     }
                 });

            }
        });
        // 左侧菜单切换
        $(".my_nav_li").delegate("a", "click", function (e) {
            var data = $(this).attr("data-name");
            if (data == "list") {
                $("#song_audit").hide();
                $("#song_list").show();
            } else if (data == "audit") {
                $("#song_audit").show();
                $("#song_list").hide();
            }
        });
        $("#song_search_btn").click(function () {
            songListTable.reload({
                where: { keyword: $("#song_search_text").val() }
                , url: '@Url.Action("GetApprovedSongList", "SongManage")'
                , method: 'get'
            });
        });

        //监听排序
        table.on('sort(songbook)', function (obj) {

            songListTable.reload({
                initSort: obj
                , where: {
                    field: obj.field
                    , order: obj.type
                }
            });

        });
        $("#audit_search_btn").click(function () {
            auditListTable.reload({
                where: {
                    keyword: $("#audit_search_text").val(),
                    auditStatus: $("#audit_status_select").val()
                }
                , url: '@Url.Action("GetAuditSongList", "SongManage")'
                , method: 'get'
            });
        });

        $("#song_search_reset_btn").click(function () {
            $("#song_search_text").val("");
            $("#song_search_btn").click();
        });
         $("#song_audit_search_reset_btn").click(function () {
             $("#audit_search_text").val("");
             $("#audit_status_select").val(-1);
             $("#audit_search_btn").click();
        });
        // 设置标签
        $("#set_song_label_btn").click(function () {
            layer.open({
                type: 1,
                title: '设置标签',
                move: false,
                btn: ['确定', '取消'],
                skin: 'tempSkin',
                area: ['500px', '350px'],
                content: $('#song_label_edit_div'),
                success: function () {
                    $('#song_label_edit_div').attr("display", 'block');
                },
                end: function () {
                    $('#song_label_edit_div').attr("display", 'none');
                },
                yes: function (index, layero) {
                    layer.close(index);
                    // 保存编辑的数据到数据库 songmarkList
                    @*$.each(songmarkList, function (index, item) {
                        var param;
                        if (item.update) {
                            if (item.add) {
                                param = { "Id": -1, "MarkName": item.MarkName };
                            } else {
                                param = { "Id": item.Id, "MarkName": item.MarkName };
                            }
                            Service.ajax(JSON.stringify(param), function (result) {
                                if (result.status) {

                                }
                            }, '@Url.Action("AddOrUpdateSongMark", "SongManage")', true, true);
                        }
                    });
                    layer.msg("保存成功");
                    songmarkTable.reload({});*@
                }
            });
        });

        // 标签列表
        songmarkTable = table.render({
            elem: '#songmark_table'
            , height: "180"
            , url: '@Url.Action("GetSongMakList", "SongManage")'
            , size: 'sm'
            , cols: [[
                {type: "numbers", fixed:"left", width:50}
                , { field: 'MarkName', width: 280, title: '标签名称',edit:'text' }
                , { fixed: 'right', title: '操作', toolbar: '#songmakListOpt', width: 140 }
            ]]
            , done: function (res, curr, count) {//表格数据渲染完成时调用
                songmarkList = res.data;

            }
        });
        // 监听歌曲标签表格编辑
        table.on('edit(songmark_table)', function (obj) {
            var temp;
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            var param = { "Id": obj.data.Id, "MarkName": obj.data.MarkName };
            if (obj.data.MarkName == "") {
                layer.msg("标签名称不能为空");
                return;
            }
            Service.ajax(JSON.stringify(param), function (result) {
                if (result.status) {
                    layer.msg("保存成功");
                }
            }, '@Url.Action("AddOrUpdateSongMark", "SongManage")', true, true);

            //$.each(songmarkList, function (index, item) {
            //    if (item.add) {
            //        item.Id = -1;
            //        item.MarkName = JSON.parse(obj.value);
            //        item.update = true;
            //    } else if (item.Id == obj.data.Id) {
            //        item.MarkName = JSON.parse(obj.data.MarkName);//obj.data.MarkName.toString();
            //        item.update = true;
            //    }
            //});
        });

        // 增加歌曲标签，新行
        $("#add_songmark_btn").click(function () {
            if ($("#song_mark_text").val() == "") {
                layer.msg("标签名称不能为空");
                return;
            }
            var param = { "Id": -1, "MarkName": $("#song_mark_text").val() };
            Service.ajax(JSON.stringify(param), function (result) {
                if (result.status) {
                    layer.msg("添加成功");
                    $("#song_mark_text").val("");
                    songmarkTable.reload({});
                }
            }, '@Url.Action("AddOrUpdateSongMark", "SongManage")', true, true);


            //var newNum = songmarkList.length +1;
            //var newRow = { "Id": -1, "MarkName": "", add: true };
            //songmarkList.push(newRow);
            //$($("#songmark_table").next().find(".layui-table-body").find("tbody")[0]).append('<tr data-index="3" class="">' +
            //    '<td data-field="0" data-key="3-0-0" class="layui-table-col-special">' +
            //    '<div class="layui-table-cell laytable-cell-3-0-0 laytable-cell-numbers">' + newNum +
            //    '</div></td><td data-field="MarkName" data-key="3-0-1" data-edit="text" class="">' +
            //    '<div class="layui-table-cell laytable-cell-3-0-1"> </div></td>' +
            //    '<td data-field="3" data-key="3-0-3" data-off="true" class="layui-table-col-special">' +
            //    '<div class="layui-table-cell laytable-cell-3-0-3"> ' +
            //    '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a> ' +
            //    '</div></td></tr>');


        });


        table.on('tool(songmark_table)', function (obj) {
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
             if (layEvent === 'del') {
                layer.confirm('删除后，上传或审核歌曲时无法选择标签，确认要删除吗？', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                    Service.ajax(JSON.stringify({ id: data.Id }), function (result) {
                        if (result.status) {
                            layer.msg("删除成功");
                        }
                    }, '@Url.Action("DeleteSongMark", "SongManage")', true, true);
                });
            }
        });
    });
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script type="text/html" id="barAudit">
    {{#  if(d.AuditStatus == '1'){ }}
    <a class="layui-btn layui-btn-xs " lay-event="audit">审核</a>
    {{# }else{  }}
    <a class="layui-btn layui-btn-primary layui-btn-xs layui-btn-disabled " lay-event="">审核</a>
    {{# } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="audit_detail">查看详情</a>
</script>

<!--禁止页面回退-->
<script language="javascript">
    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });
</script>
<div id="song_edit_div" style="display:none">

</div>

<div id="song_label_edit_div" style="display:none">
    <div class="layui-input-inline">
        <input type="text" id="song_mark_text" autocomplete="off" placeholder="请输入歌曲标签名称" class="layui-input">
    </div>
    <button type="button" id="add_songmark_btn" class="alert_page_btn layui-btn layui-btn-normal layui-btn-sm">新增</button>
    @*<button type="button" id="edit_songmark_btn" class="alert_page_btn layui-btn layui-btn-primary layui-btn-sm">编辑</button>*@

    <table class="layui-table" lay-filter="songmark_table" id="songmark_table"></table>
</div>
<script type="text/html" id="songmakListOpt">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<!--审核详情-->
<div id="song_audit_detail_div" style="display:none;margin-left:15px;margin-top:10px;">
    
</div>