
@{
    ViewBag.Title = "StoreManageList";
}
<script>
    var liList = $(".main-layout-header").find('li');

    $(".main-layout-header").find('.layui-this').removeClass("layui-this");
    $.each(liList, function (index, item) {

        var selectIndex = $(item).attr("data-index");

        if (selectIndex == "2") {
            $(item).addClass("layui-this");
        }
    });


</script>
<style>
    .search_div {
        padding-left: 10px;
        margin-top: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 50px;
        height: 50px;
        background-color: rgb(244,244,244);
    }

    #store_search_text {
        width: 250px;
        height: 32px;
        margin-right: 20px;
    }

    #store_add_edit_div input {
        height: 32px;
    }
</style>
<div class=" content">
    <div class="layui-row layui-form">
        <div style="margin-left:10px;  margin-left: 10px;padding-top: 20px;padding-bottom: 20px;">
            <button type="button" id="add_store_btn" class="layui-btn layui-btn-normal layui-btn-sm">增加商家</button>
            <button type="button" id="store_type_btn" class="layui-btn layui-btn-primary layui-btn-sm">商家类型</button>
            <button type="button" id="" class="layui-btn layui-btn-primary layui-btn-sm">散户收入</button>

        </div>
        <div class="search_div">
            搜索商家:
            <div class="layui-input-inline">
                <input type="text" id="store_search_text" autocomplete="off" placeholder="请输入商家名称或登录手机号" class="layui-input">
            </div>
            <button id="search_btn" type="button" class="layui-btn layui-btn-normal layui-btn-sm">搜索</button>
            <button id="search_reset_btn" type="button" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>

        </div>
    </div>
    <div id="table_content">
        <table class="layui-table" lay-filter="store_list" id="store_list"></table>
    </div>

</div>

<!--商家类型管理-->
<div id="store_type_edit_div" style="display:none;margin:15px ">
    <div class="layui-input-inline">
        <input type="text" id="store_type_text" style="height:32px;" autocomplete="off" placeholder="请输入商家类型名称" class="layui-input">
    </div>
    <button type="button" id="add_store_type_btn" class="alert_page_btn layui-btn layui-btn-normal layui-btn-sm">新增</button>

    <table class="layui-table" lay-filter="store_type_table" id="store_type_table"></table>
</div>
<script type="text/html" id="store_type_opt">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
    var storeListTable;
    var storeTypeTable;

    var currentId = -1;
    var currentSelectStoreTypeId;
    var fileName;
    var province;
    var city;
     var county;

    layui.use('table', function () {
        var table = layui.table;
        var form = layui.form;

        // 商家列表
        storeListTable = table.render({
            elem: '#store_list'
            , height: "full-285"
            ,page: true
            , url: '@Url.Action("GetStoreList", "StoreManage")'
            , limit: 10
            ,where: { keyword: "" }
            ,limits: [10, 20, 30, 40, 50]
            ,autoSort: false
            , cols: [[
                 {
                    field: 'StoreName', width: 380, title: '商家名称', event: 'store_detail', style: 'cursor: pointer;',
                    templet: function (d) {
                        return '<span style="color:blue;">'+d.StoreName+'</span>';
                    }
                }
                , { field: 'Phone', width: 160, title: '登录手机号' }
                , { field: 'StoreTypeName', width: 160, title: '商家类型'}
                , { field: 'FDS', width: 140, title: '分店数' }
                , { field: 'Enabled', title: '启用状态', width: 140,event:'change_status', templet: '#switchTpl', unresize: true  }
                , { fixed: 'right', title: '操作', toolbar: '#store_list_opt', width: 140 }
            ]]
            , parseData: function (res) {
                $.each(res.data, function (index, value) {
                    value.FDS = value.ValidSonStoreNum + "/" + value.MaximumStore;

                });
                return {"code": res.code, "msg": res.msg,"count": res.count,"data": res.data };
            }
        });

        table.on('tool(store_list)', function (obj) {
            var data = obj.data
            var layEvent = obj.event;
            if (layEvent === 'manage') {
                location.href = '@Url.Action("StoreDetail", "StoreManage")?storeId=' + data.StoreId;
            } else if (layEvent === 'edit') {
                initStoreTypeSelect();
                initAreaSelect();
                currentId = data.StoreId;
                fileName = data.DelegatingContract;
                province = data.Province;
                city = data.City;
                county = data.County;

                $("#store_name_edit").val(data.StoreName);
                $("#store_type_edit").val(data.StoreTypeId);

                var select = 'dd[lay-value=' + data.StoreTypeId + ']';
                $('#store_type_edit').siblings("div.layui-form-select").find('dl').find(select).click();// 查找点击


                $("#store_phone_edit").val(data.Phone);
                $("#store_count_edit").val(data.MaximumStore);
                $("#store_password_edit").val(data.Password);
                $("#detail_address_edit").val(data.DetailAddress);

                $("#add_province").val(data.Province);

                $("#add_city").empty();
                $("#add_city").append('<option value="-1">请选择市</option>');
                Service.ajax(JSON.stringify({ provinceId: data.Province }), function (result) {
                    $.each(result.data, function (index, item) {
                         $("#add_city").append('<option value="' + item.Id + '">' + item.CityName + '</option>');
                    });
                    $("#add_city").val(data.City);
                    form.render();
                    form.on('select(city)', function (data) {
                                city = data.value;
                            });

                }, '@Url.Action("GetCityList", "City")', false);




                 $("#add_county").empty();
                $("#add_county").append('<option value="-1">请选择</option>');
                Service.ajax(JSON.stringify({ cityId: data.City }), function (result) {
                    $.each(result.data, function (index, item) {
                         $("#add_county").append('<option value="' + item.Id + '">' + item.CityName + '</option>');
                    });
                    $("#add_county").val(data.County);
                     form.render();
                    form.on('select(county)', function (data) {
                                county = data.value;
                            });
                }, '@Url.Action("GetCountyList", "City")', false);

                form.render()

                layer.open({
                    type: 1,
                    title: '<span style="font-weight:bolder;">修改商家</span>',
                    move: false,
                    btn: ['确定', '取消'],
                    skin: 'tempSkin',
                    area: ['800px', '550px'],
                    content: $('#store_add_edit_div'),
                    success: function () {
                        $('#store_add_edit_div').attr("display", 'block');
                    },
                    end: function () {
                        $('#store_add_edit_div').attr("display", 'none');
                    },
                    yes: function (index, layero) {
                        saveStoreInfo(index);
                    }
                });

            }
            else if (layEvent === 'store_detail') {//跳转商家详情
                location.href = '@Url.Action("StoreDetail", "StoreManage")?storeId=' + data.StoreId;

            } else if (layEvent == 'change_status') {//改变启用状态
                if (data.Enabled) {
                    layer.confirm('禁用后，该商家及分店登录手机号不可登录系统，确认禁用该商家？', { btn: ['确定', '取消'] },
                        function (index) {
                            layer.close(index);
                            Service.ajax(JSON.stringify({ id: data.StoreId, status: false }), function (result) {
                                if (result.status) {
                                    layer.msg("禁用成功");
                                    storeListTable.reload({});
                                } else {
                                    layer.msg(result.msg);
                                }
                            }, '@Url.Action("UpdateStoreStatus", "StoreManage")', true, true);
                        },
                        function (index) {
                            layer.close(index);
                            storeListTable.reload({});
                        });
                } else {
                    console.log(data);
                    Service.ajax(JSON.stringify({ id: data.StoreId, status: true }), function (result) {
                            if (result.status) {
                                layer.msg("启用成功");
                                storeListTable.reload({});

                            } else {
                                layer.msg(result.msg);
                            }
                        }, '@Url.Action("UpdateStoreStatus", "StoreManage")', true, true);
                }

            }
        });

        // 商家类型表格
         storeTypeTable = table.render({
             elem: '#store_type_table'
            , height: "160"
            , url: '@Url.Action("GetStoreTypeList", "StoreManage")'
            , size: 'sm'
            , cols: [[
                {type: "numbers", fixed:"left", width:50}
                , { field: 'StoreTypeName', width: 280, title: '商家类型',edit:'text' }
                , { fixed: 'right', title: '操作', toolbar: '#songmakListOpt', width: 140 }
            ]]

        });
        // 监听商家类型表格编辑
        table.on('edit(store_type_table)', function (obj) {
            var temp;
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            var param = { "Id": obj.data.Id, "StoreTypeName": obj.data.StoreTypeName };
            if (obj.data.StoreTypeName == "") {
                layer.msg("商家类型名称不能为空");
                return;
            }
            Service.ajax(JSON.stringify(param), function (result) {
                if (result.status) {
                    layer.msg("保存成功");
                }
            }, '@Url.Action("AddOrUpdateStoreType", "StoreManage")', true, true);

        });
        // 增加商家类型
        $("#add_store_type_btn").click(function () {
            if ($("#store_type_text").val() == "") {
                layer.msg("商家类型名称不能为空");
                return;
            }
            var param = { "Id": -1, "StoreTypeName": $("#store_type_text").val() };
            Service.ajax(JSON.stringify(param), function (result) {
                if (result.status) {
                    layer.msg("添加成功");
                    $("#store_type_text").val("");
                    storeTypeTable.reload({});
                }
            }, '@Url.Action("AddOrUpdateStoreType", "StoreManage")', true, true);

        });
    //商家类型 其他事件监听
         table.on('tool(store_type_table)', function (obj) {
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
             if (layEvent === 'del') {
                layer.confirm('删除后，新商家无法选择该类型，确认要删除吗？', function (index) {

                    layer.close(index);
                    Service.ajax(JSON.stringify({ id: data.Id }), function (result) {
                        if (result.status) {
                            layer.msg("删除成功");
                            obj.del(); //删除对应行（tr）的DOM结构
                        } else {
                            layer.msg(result.msg);
                        }
                    }, '@Url.Action("DeleteStoreType", "StoreManage")', true, true);
                });
            }
         });

        bindEvent();


    });

    var saveStoreInfo = function (layerIndex) {
        if ($("#store_name_edit").val()=="") {
            layer.msg("商家名称不能为空");
            return;
        }
        if (currentSelectStoreTypeId == -1) {
            layer.msg("请选择商家类型");
            return;
        }
        if ($("#store_phone_edit").val()=="") {
            layer.msg("登录手机号不能为空");
            return;
        }
        if ($("#store_password_edit").val()=="") {
            layer.msg("登录密码不能为空");
            return;
        }
        if ($("#store_count_edit").val()=="") {
            layer.msg("分店数量不能为空");
            return;
        }
        if (fileName=="") {
            layer.msg("必须先选择授权和同文件");
            return;
        }
        if (!checkPhone($("#store_phone_edit").val())) {
            layer.msg("手机号格式不正确");
            return;
        }

        var reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,}$/;
        if (!reg.test($("#store_password_edit").val())) {
            layer.msg("密码不得少于6位，且需包含数字和字母");
            return;
        }
        var param = {
            Id: currentId, StoreId: currentId,
            UserName: $("#store_name_edit").val(),StoreName:$("#store_name_edit").val(), StoreTypeId: currentSelectStoreTypeId,
            Phone: $("#store_phone_edit").val(), Password: $("#store_password_edit").val(),
            MaximumStore: $("#store_count_edit").val(), Province: province == null ? -1 : province,
            City: city == null ? "-1" : city, County: county == null ? "-1" : county,
            DetailAddress: $("#detail_address_edit").val(), DelegatingContract: fileName
       };
       Service.ajax(JSON.stringify(param), function (result) {
           if (result.status) {
               storeListTable.reload({});
               layer.msg('保存成功');
               layer.close(layerIndex);
           }
       }, '@Url.Action("AddOrUpdateStoreInfo", "StoreManage")', true, true);
    };
    function renderForm() {
        layui.use('form', function () {
        var form = layui.form;
            form.render();
            form.on('select(store_type_select)', function (data) {
                currentSelectStoreTypeId = data.value;
            });

        });
    }

    function renderAreaSelectForm() {
        layui.use('form', function () {
        var form = layui.form;
            form.render();
            form.on('select(province)', function (data) {
                province = data.value;
                 $("#add_city").empty();
                $("#add_city").append('<option value="-1">请选择市</option>');
                $("#add_county").empty();
                $("#add_county").append('<option value="-1">请选择</option>');
                Service.ajax(JSON.stringify({provinceId:province}), function (result) {
                    $.each(result.data, function (index, item) {
                        $("#add_city").append('<option value="' + item.Id + '">' + item.CityName + '</option>');
                    });
                    form.render();
                    form.on('select(city)', function (data) {
                        city = data.value;
                        $("#add_county").empty();
                        $("#add_county").append('<option value="-1">请选择</option>');
                        Service.ajax(JSON.stringify({ cityId: city }), function (result) {
                            $.each(result.data, function (index, item) {
                                $("#add_county").append('<option value="' + item.Id + '">' + item.CityName + '</option>');
                            });
                            form.render();
                            form.on('select(county)', function (data) {
                                county = data.value;
                            });
                        }, '@Url.Action("GetCountyList", "City")', false);

                    });
                }, '@Url.Action("GetCityList", "City")', false);
            });

        });
    }
    //初始化商家类型下拉选择列表
    var initStoreTypeSelect = function () {
        $("#store_type_edit").empty();
        $("#store_type_edit").append('<option value="-1">请选择</option>');
         Service.ajax(JSON.stringify({ }), function (result) {
             if (result.code==0) {
                 $.each(result.data, function (index, item) {
                     $("#store_type_edit").append('<option value="' + item.Id + '">'+item.StoreTypeName+'</option>');
                 });

                 renderForm();
            }
        }, '@Url.Action("GetStoreTypeList", "StoreManage")',false);

    };

    var initAreaSelect = function () {
        $("#add_province").empty();
        $("#add_province").append('<option value="-1">请选择省</option>');
        $("#add_city").empty();
        $("#add_city").append('<option value="-1">请选择市</option>');
        $("#add_county").empty();
        $("#add_county").append('<option value="-1">请选择县</option>');
        Service.ajax(JSON.stringify({ }), function (result) {
             $.each(result.data, function (index, item) {
                 $("#add_province").append('<option value="' + item.Id + '">'+item.CityName+'</option>');
             });
             renderAreaSelectForm();

        }, '@Url.Action("GetProvinceList", "City")',false);

    };

    var bindEvent = function () {
        $('#add_store_btn').click(function () {
            initStoreTypeSelect();
            initAreaSelect();
            currentId = -1;
            currentSelectStoreTypeId = -1;
            fileName = "";

            $("#store_name_edit").val("");
            $("#store_type_edit").val("-1");
            $("#store_phone_edit").val("");
            $("#store_password_edit").val("");
            $("#detail_address_edit").val("");
            $("#store_count_edit").val("");

            layer.open({
                    type: 1,
                    title: '<span style="font-weight:bolder;">新增商家</span>',
                    move: false,
                    btn: ['确定', '取消'],
                    skin: 'tempSkin',
                    area: ['800px', '550px'],
                    content: $('#store_add_edit_div'),
                    success: function () {
                        $('#store_add_edit_div').attr("display", 'block');
                    },
                    end: function () {
                        $('#store_add_edit_div').attr("display", 'none');
                    },
                    yes: function (index, layero) {
                        saveStoreInfo(index);
                    }
                });
        });
        $('#store_type_btn').click(function () {
            layer.open({
                    type: 1,
                    title: '<span style="font-weight:bolder;">商家类型</span>',
                    move: false,
                    btn: ['确定', '取消'],
                    skin: 'tempSkin',
                    area: ['500px', '350px'],
                    content: $('#store_type_edit_div'),
                    success: function () {
                        $('#store_type_edit_div').attr("display", 'block');
                    },
                    end: function () {
                        $('#store_type_edit_div').attr("display", 'none');
                    },
                yes: function (index, layero) {
                    layer.close(index);
                    }
                });
        });
        $("#search_btn").click(function () {
            storeListTable.reload({
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: { keyword: $("#store_search_text").val(), }
                , url: '@Url.Action("GetStoreList", "StoreManage")'
                , method: 'get'
            });
        });
        $("#search_reset_btn").click(function () {
            $("#store_search_text").val("");
            $("#search_btn").click();
        });

    };

    var checkPhone = function (phone) {
        if (!(/^1(3|4|5|6|7|8|9)\d{9}$/.test(phone))) {
            return false;
        } else return true;
    }
</script>
<script type="text/html" id="store_list_opt">
    <a class="layui-btn layui-btn-xs" lay-event="manage">管理</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit">编辑</a>
</script>
<script type="text/html" id="songmakListOpt">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="store_status" value="{{d.Enabled}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="store_status" {{ d.Enabled == true ? 'checked' : '' }}>
</script>

<!--添加和编辑商家信息-->
<div id="store_add_edit_div" class="layui-form" style="display:none;margin-right:20px; margin-top:20px;">
    <div class="layui-row" style="margin-top:20px;">
        <div class="layui-col-sm6 layui-col-md6 ">
            <div class="layui-form-item">
                <label class="layui-form-label">商家名称</label>
                <div class="layui-input-block">
                    <input type="text" id="store_name_edit" name="title" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
                </div>

            </div>

        </div>
        <div class="layui-col-sm6 layui-col-xs6 layui-col-md6 ">
            <label class="layui-form-label">商家类型</label>
            <div class="layui-input-block">
                <select id="store_type_edit" lay-filter="store_type_select">
                    <option value="-1" selected="">请选择</option>

                </select>
            </div>

        </div>
    </div>
    <div class="layui-row" style="margin-top:8px;">
        <div class="layui-col-md6 ">
            <label class="layui-form-label">登录手机号</label>
            <div class="layui-input-block">
                <input type="number" id="store_phone_edit" placeholder="请输入" class="layui-input">
            </div>
        </div>
        <div class="layui-col-md6">
            <label class="layui-form-label">登录密码</label>
            <div class="layui-input-block">
                <input type="password" id="store_password_edit" placeholder="包含数字和字母，不可少于6位" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-row" style="margin-top:20px;margin-right:15px;">
        <div class="layui-col-md6 ">
            <div class="layui-row">
                <label class="layui-form-label">分店数量</label>
                <div class="layui-input-block">
                    <input type="number" id="store_count_edit" placeholder="请输入" class="layui-input">
                </div>
            </div>
            <div class="layui-row" style="margin-top:8px;">
                <label class="layui-form-label">所在地址</label>
                <div class="layui-input-block" id="area-picker">
                    <div style="margin-bottom:10px;" lay-filter="province" class="layui-form">
                        <select id="add_province" name="province" class="province-selector" style="margin-bottom:8px;" lay-filter="province">
                            <option value="">请选择省</option>
                        </select>
                    </div>
                    <div style="margin-bottom:10px;">
                        <select id="add_city" name="city" class="city-selector" style="margin-bottom:8px;" lay-filter="city">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <div style="margin-bottom:10px;">
                        <select id="add_county" name="county" class="county-selector" style="margin-bottom:8px;" lay-filter="county">
                            <option value="">请选择区</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-row" style="margin-top:8px;">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <textarea id="detail_address_edit" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <label class="layui-form-label">授权合同</label>
            <div class="layui-input-block">
                <div class="layui-upload-drag" id="upload_btn" style="height:100px;width: 225px;">
                    <i class="layui-icon layui-icon-add-1" style="font-size: 30px; color: #1E9FFF;"></i>
                    <p>点击上传</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['upload', 'jquery'], function () {
        var upload = layui.upload;
            var $ = layui.jquery;
        upload.render({
        elem: '#upload_btn'
        , url: '@Url.Action("UploadOrdinaryFile", "File")'
        ,accept:'file' //普通文件
        , done: function (res) {
            if (res.status) {
                fileName = res.fileName;
                layer.msg("上传成功");
            } else {
                layer.msg("上传失败");
            }
        }
    });
    });


</script>
