
@{
    ViewBag.Title = "商家详情";
}
<script>
    var liList = $(".main-layout-header").find('li');
    $(".main-layout-header").find('.layui-this').removeClass("layui-this");
    $.each(liList, function (index, item) {
        var selectIndex = $(item).attr("data-index");
        if (selectIndex == "2") {
            $(item).addClass("layui-this");
        }
    });
</script>
<style>
    .label_title {
        width: 100%;
        text-align: end;
        line-height: 32px;
    }

    .label_content {
        width: 100%;
        text-align: left;
        line-height: 32px;
    }
</style>
<div class="layui-form">
    <div class="layui-row" style="padding-top:15px;">
        <div class="layui-col-lg1 layui-col-md1">
            <label class="label_title">商家名称：</label>
        </div>
        <div class="layui-col-lg5 layui-col-md5">
            <span id="store_name" class="label_content"></span>
        </div>
        <div class="layui-col-lg1 layui-col-md1">
            <label class="label_title">商家类型：</label>
        </div>
        <div class="layui-col-lg4 layui-col-md4">
            <span id="store_type" class="label_content"></span>
        </div>
        <div class="layui-col-lg1 layui-col-md1">
            <button id="edit_store_info" class="layui-btn layui-btn-normal">编辑</button>
        </div>
    </div>
    <div class="layui-row" style="padding-top:12px;">
        <div class="layui-col-lg1 layui-col-md1">
            <label class="label_title">登陆手机号：</label>
        </div>
        <div class="layui-col-lg5 layui-col-md5">
            <span id="store_phone" class="label_content"></span>
        </div>
        <div class="layui-col-lg1 layui-col-md1">
            <label class="label_title">所在地址：</label>
        </div>
        <div class="layui-col-lg5 layui-col-md5">
            <span id="store_address" class="label_content"></span>
        </div>
    </div>
    <div class="layui-row" style="padding-top:12px;">
        <div class="layui-col-lg1 layui-col-md1">
            <label class="label_title">授权合同：</label>
        </div>
        <div class="layui-col-lg5 layui-col-md5">
            <img id="sqht_img" style="display:none;" width="200" height="150" />
            <a target="_blank" href="" id="sqht_pdf" style="display:none;"></a>
        </div>
    </div>
    <div class="layui-row" style="padding-top:15px;">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">商家分店</li>
                <li>商家歌单</li>

            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div>分店上限：<span id="FDMax"></span> ；已开通: <span id="YKT"></span></div>
                    <div id="table_content">
                        <table class="layui-table" lay-filter="son_store_list" id="son_store_list"></table>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-row">
                        <div class="layui-col-md11 layui-col-lg11">
                            <button id="edit_song_list_btn" class="layui-btn layui-btn-normal layui-btn-sm">编辑歌单</button>
                            <button id="publish_song_list_btn" class="layui-btn layui-btn-primary layui-btn-sm">发布歌单</button>
                        </div>
                        <div class="layui-col-md1 layui-col-lg1">
                            <span id="song_list_his_btn" style="color:blue;cursor:pointer;">查看历史歌单</span>
                        </div>
                    </div>
                    <div style="margin:5px;">商家当前歌单更新时间：<span id="songListUpdateTime"></span> </div>
                    <div id="table_content">
                        <table class="layui-table" lay-filter="store_song_list" id="store_song_list"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var province;
    var city;
    var county;
    var currentInfo;
    var storeTypeName;

    var currentId  = @ViewBag.storeId;

    var fileName = "";

    var listItem = null;
    var storeSongListTable;
    layui.use('table', function () {
        var table = layui.table;
        var form = layui.form;
         // 商家类型下拉框初始化
        $("#store_type_edit").empty();
        $("#store_type_edit").append('<option value="-1">请选择</option>');
         Service.ajax(JSON.stringify({ }), function (result) {
             if (result.code==0) {
                 $.each(result.data, function (index, item) {
                     $("#store_type_edit").append('<option value="' + item.Id + '">'+item.StoreTypeName+'</option>');
                 });
                 form.on('select(store_type_select)', function (data) {
                     currentInfo.StoreTypeId = data.value;
                     storeTypeName = data.elem[data.elem.selectedIndex].text;
                 });
                 form.render();
            }
         }, '@Url.Action("GetStoreTypeList", "StoreManage")', false);



        //省市区选择初始化
        $("#add_province").empty();
        $("#add_province").append('<option value="-1">请选择省</option>');
        $("#add_city").empty();
        $("#add_city").append('<option value="-1">请选择市</option>');
        $("#add_county").empty();
        $("#add_county").append('<option value="-1">请选择县</option>');
        Service.ajax(JSON.stringify({ }), function (result) {
             $.each(result.data, function (index, item) {
                 $("#add_province").append('<option value="' + item.Id + '">'+item.CityName+'</option>');
             });

        }, '@Url.Action("GetProvinceList", "City")', false);

        
        Service.ajax(JSON.stringify({ storeId: currentId }), function (result) {
            if (result.status) {
                $("#songListUpdateTime").html(Service.FormatDate("yyyy-MM-dd HH:mm:ss", Service.ConvertNetDate(result.data)));

            }
        },'@Url.Action("GetSongListUpdateTime", "StoreManage")', true);

        Service.ajax(JSON.stringify({ storeId:currentId}), function (result) {
            if (result.status) {
                currentInfo = result.data

                $("#FDMax").html(currentInfo.MaximumStore);
                $("#YKT").html(currentInfo.ValidSonStoreNum);

                $("#store_name").html(result.data.StoreName);
                $("#store_type").html(result.data.StoreTypeName);
                $("#store_phone").html(result.data.Phone);
                var sqhtPath = currentInfo.FullDelegatingContractPath;

                var arr = sqhtPath.split('.');
                var temp = arr[arr.length - 1].toLowerCase();;
                if (temp == 'jpg' || temp == 'png' || temp == 'jpeg' || temp == 'bmp') {
                    $("#sqht_img").show();
                   $("#sqht_img").attr("src", sqhtPath);

                } else {
                    if (currentInfo.DelegatingContract != "") {
                        if (currentInfo.DelegatingContract == "" || currentInfo.DelegatingContract == null) {
                            $("#sqht_pdf").show();
                            $("#sqht_pdf").text("无");
                        } else{
                            $("#sqht_pdf").show();
                            $("#sqht_pdf").attr('href', sqhtPath);
                            $("#sqht_pdf").attr('target', '_blank');
                            $("#sqht_pdf").text(sqhtPath);
                        }
                    }
                }
                // 编辑框信息
                $("#store_type_edit").val(result.data.StoreTypeId);
                $("#store_name_edit").val(currentInfo.StoreName);
                $("#store_type_edit").val(currentInfo.StoreTypeId);
                $("#store_phone_edit").val(currentInfo.Phone);
                $("#store_count_edit").val(currentInfo.MaximumStore);
                $("#store_password_edit").val(currentInfo.Password);
                $("#detail_address_edit").val(currentInfo.DetailAddress);

                $('#demo1').attr('src', currentInfo.FullDelegatingContractPath);

                $("#add_province").val(currentInfo.Province);
                form.on('select(province)', function (data) {
                    currentInfo.Province = data.value;
                    province = data.elem[data.elem.selectedIndex].text;
                      $("#add_city").empty();
                    $("#add_city").append('<option value="-1">请选择市</option>');
                     $("#add_county").empty();
                    $("#add_county").append('<option value="-1">请选择</option>');
                    currentInfo.City = -1;
                    currentInfo.County = -1;
                    $("#add_city").val(currentInfo.City);
                    $("#add_county").val(currentInfo.City);
                    form.render();


                    $("#add_city").empty();
                    $("#add_city").append('<option value="-1">请选择市</option>');
                    Service.ajax(JSON.stringify({ provinceId: currentInfo.Province }), function (result) {
                        $.each(result.data, function (index, item) {
                            $("#add_city").append('<option value="' + item.Id + '">' + item.CityName + '</option>');
                        });
                        $("#add_city").val(currentInfo.City);
                        form.render();
                        form.on('select(city)', function (data) {
                        currentInfo.City = data.value;
                        city = data.elem[data.elem.selectedIndex].text;

                        $("#add_county").empty();
                        $("#add_county").append('<option value="-1">请选择</option>');
                        Service.ajax(JSON.stringify({ cityId: currentInfo.City }), function (result) {
                        $.each(result.data, function (index, item) {
                            $("#add_county").append('<option value="' + item.Id + '">' + item.CityName + '</option>');
                         });
                        $("#add_county").val(currentInfo.County);
                        form.render();
                        form.on('select(county)', function (data) {
                            currentInfo.County = data.value;
                            county = data.elem[data.elem.selectedIndex].text;
                        });
                        }, '@Url.Action("GetCountyList", "City")', false);
                            form.render()
                        });
                    }, '@Url.Action("GetCityList", "City")', false);
                });

                $("#add_city").empty();
                $("#add_city").append('<option value="-1">请选择市</option>');
                Service.ajax(JSON.stringify({ provinceId: currentInfo.Province }), function (result) {
                    $.each(result.data, function (index, item) {
                         $("#add_city").append('<option value="' + item.Id + '">' + item.CityName + '</option>');
                    });
                    $("#add_city").val(currentInfo.City);
                    form.render();
                    form.on('select(city)', function (data) {
                        currentInfo.City = data.value;
                        city = data.elem[data.elem.selectedIndex].text;
                    });

                }, '@Url.Action("GetCityList", "City")', false);


                 $("#add_county").empty();
                $("#add_county").append('<option value="-1">请选择</option>');
                Service.ajax(JSON.stringify({ cityId: currentInfo.City }), function (result) {
                    $.each(result.data, function (index, item) {
                         $("#add_county").append('<option value="' + item.Id + '">' + item.CityName + '</option>');
                    });
                    $("#add_county").val(currentInfo.County);
                     form.render();
                    form.on('select(county)', function (data) {
                        currentInfo.County = data.value;
                        county = data.elem[data.elem.selectedIndex].text;
                            });
                }, '@Url.Action("GetCountyList", "City")', false);

                form.render()



                $("#sqht_img").click(function () {
                    layer.open({
                        type: 1,
                        title: false,
                        closeBtn: 0,
                        area:['auto','auto'],
                        skin: 'layui-layer-nobg', //没有背景色
                        shadeClose: true,
                        content: "<img width=1000 height=700 src='"+sqhtPath+"'/>"
                    });
                });
                var detailAddress = result.data.DetailAddress;
                var param = { province: result.data.Province, city: result.data.City, county: result.data.County };
                Service.ajax(JSON.stringify(param), function (result) {
                    province = result.province;
                    city = result.city;
                    county = result.county;
                    $("#store_address").html(province+" " + city+" " + county +" " + detailAddress);
                }, '@Url.Action("GetDeatilCity", "City")', true, true);
            }
            else {
                layer.msg("获取商家信息失败");
            }
        }, '@Url.Action("GetStoreDetailById", "StoreManage")', false);

        //商家分店
        table.render({
            elem: '#son_store_list'
            , height: "230"
            , page: false
            , url: '@Url.Action("GetSonStoreListByStoreId", "StoreManage")'
            , limit: 10
            ,size:'sm'
            , where: { keyword: "", storeId: currentId }
            ,limits: [10, 20, 30, 40, 50]
            ,autoSort: false
            , cols: [[
                  { field: 'StoreName', width: '50%', title: '分店名称'}
                , { field: 'Phone', width: '50%', title: '登录手机号' }
            ]]
            , parseData: function (res) {
                $.each(res.data, function (index, value) {
                    value.FDS = value.ValidSonStoreNum + "/" + value.MaximumStore;

                });
                return {"code": res.code, "msg": res.msg,"count": res.count,"data": res.data };
            }
        });

        //商家歌单
        storeSongListTable = table.render({
            elem: '#store_song_list'
            , height: "190"
            , page: false
            , url: '@Url.Action("GetPlayListByStoreId", "StoreManage")'
            , limit: 10
            ,size:'sm'
            , where: { keyword: "", storeId: currentId }
            ,limits: [10, 20, 30, 40, 50]
            ,autoSort: false
            , cols: [[
                 {type: "numbers", fixed:"left", width:50}
                , { field: 'SongName', minWidth: 100, title: '歌曲名称' }
                , { field: 'SongLength', width: 150, title: '时长'}
                , { field: 'SingerName', width: 150, title: '歌手' }
                , { field: 'ExpirationTimeStr', title: '版权有效期至', width: 220 }
            ]]
            , parseData: function (res) {
                listItem = res.listItem;

                $.each(res.data, function (index, value) {
                    value.ExpirationTime = Service.FormatDate("yyyy-MM-dd", Service.ConvertNetDate(value.ExpirationTime));

                    var currentTime = new Date();
                    if (value.ExpirationTime) {
                        var arr1 = value.ExpirationTime.split(" ");
                        var sdate = arr1[0].split('-');
                        var date = new Date(sdate[0], sdate[1] - 1, sdate[2]);
                        if (date < currentTime) {
                            value.ExpirationTimeStr = "已过期";
                        } else {
                            value.ExpirationTimeStr = value.ExpirationTime;
                        }
                    }

                });
                return {
                    "code": res.code, "msg": res.msg, "count": res.count, "data": res.data //解析数据列表
                };
            }
            , done: function (res, curr, count) {
                 Service.ajax(JSON.stringify({ storeId: currentId }), function (result) {
            if (result.status) {
                $("#songListUpdateTime").html(Service.FormatDate("yyyy-MM-dd HH:mm:ss", Service.ConvertNetDate(result.data)));

            }
        },'@Url.Action("GetSongListUpdateTime", "StoreManage")', true);
                //$("#songListUpdateTime").html(Service.FormatDate("yyyy-MM-dd HH:mm:ss", Service.ConvertNetDate(listItem.UpdateTime)));
            }
        });

        bindEvent();
    });

    var bindEvent = function () {
        $('#edit_store_info').click(function () {
            layer.open({
                    type: 1,
                    title: '<span style="font-weight:bolder;">编辑商家</span>',
                    move: false,
                    btn: ['确定', '取消'],
                    skin: 'tempSkin',
                    area: ['800px', '550px'],
                    content: $('#store_add_edit_div'),
                    success: function () {
                        $('#store_add_edit_div').attr("display", 'block');
                    },
                    end: function () {
                        $('#store_add_edit_div').attr("display", 'none');
                    },
                    yes: function (index, layero) {
                        saveStoreInfo(index);
                    }
                });
        });

        $("#song_list_his_btn").click(function () {
            location.href = '@Url.Action("HisSongList", "StoreManage")?storeId=' + currentId + '&storeCode=' + currentInfo.StoreCode;
        });

        $("#edit_song_list_btn").click(function () {
            layer.open({
                type: 2,
                area: ['900px', '650px'],
                title: ['歌单编辑', 'font-size:16px;'],
                fixed: false, //不固定
                maxmin: true,
                content: '@Url.Action("EditSongPlayList", "StoreManage")?storeId=' + currentId + "&id=" + listItem.Id + "&storeCode=" + currentInfo.StoreCode,
                end: function () {
                    storeSongListTable.reload({});

                },
            });
        });
        $("#publish_song_list_btn").click(function () {
            layer.confirm('发布后，商家歌单更新为当前歌单内容，确认发布歌单吗？', { btn: ['确定', '取消'] },
                function (index) {
                    layer.close(index);
                    Service.ajax(JSON.stringify({ playListId: listItem.Id}), function (result) {
                        if (result.status) {
                            layer.msg("发布歌单成功");
                            storeSongListTable.reload({});
                        } else {
                            layer.msg("发布歌单失败");
                        }
                    }, '@Url.Action("PublishSongList", "StoreManage")', true);
                },
                function (index) {
                    layer.close(index);
                });
        });
    };

    var saveStoreInfo = function (layerIndex) {
        if (currentInfo.StoreTypeId == -1) {
            layer.msg("请选择商家类型");
            return;
        }
        if ($("#store_name_edit").val()=="") {
            layer.msg("商家名称不能为空");
            return;
        }
        if ($("#store_phone_edit").val()=="") {
            layer.msg("登录手机号不能为空");
            return;
        }
        //if ($("#store_password_edit").val()=="") {
        //    layer.msg("登录密码不能为空");
        //    return;
        //}
        if ($("#store_count_edit").val()=="") {
            layer.msg("分店数量不能为空");
            return;
        }
        if (currentInfo.DelegatingContract == "") {
            layer.msg("必须先选择授权和同文件");
            return;
        }
        if (!checkPhone($("#store_phone_edit").val())) {
            layer.msg("手机号格式不正确");
            return;
        }

         //var reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,30}$/;
         //               if (!reg.test($("#reset_password").val())) {
         //                   layer.msg("密码应为6位至30位字母与数字的组合");
         //                   return;
         //               }
        var param = {
            Id: currentId, StoreId: currentId,
            UserName: $("#store_name_edit").val(),StoreName:$("#store_name_edit").val(), StoreTypeId: currentInfo.StoreTypeId,
            Phone: $("#store_phone_edit").val(), Password: '',
            MaximumStore: $("#store_count_edit").val(), Province: currentInfo.Province == null ? -1 : currentInfo.Province,
            City: currentInfo.City == null ? "-1" : currentInfo.City, County: currentInfo.County == null ? "-1" : currentInfo.County,
            DetailAddress: $("#detail_address_edit").val(), DelegatingContract: currentInfo.DelegatingContract
       };
       Service.ajax(JSON.stringify(param), function (result) {
           if (result.status) {

                $("#store_name").html($("#store_name_edit").val());
                $("#store_type").html(storeTypeName);
                $("#store_phone").html($("#store_phone_edit").val());
               var sqhtPath = "http://152.136.227.143" +currentInfo.DelegatingContract;//currentInfo.FullDelegatingContractPath;
               //$("#sqht_img").attr("src", imgPath);

               //var sqhtPath = currentInfo.FullDelegatingContractPath;
                var arr = sqhtPath.split('.');
                var temp = arr[arr.length - 1].toLowerCase();
                if (temp == 'jpg' || temp == 'png' || temp == 'jpeg' || temp == 'bmp') {
                    $("#sqht_img").show();
                    $("#sqht_pdf").hide();
                   $("#sqht_img").attr("src", sqhtPath);

                } else {

                    $("#sqht_pdf").show();
                     $("#sqht_img").hide();
                    $("#sqht_pdf").attr('href', sqhtPath);
                   $("#sqht_pdf").text(sqhtPath);
                }
               $("#store_address").html(province + " " + city + " " + county+" " +  $("#detail_address_edit").val());
               layer.msg('保存成功');
               layer.close(layerIndex);
           }
       }, '@Url.Action("AddOrUpdateStoreInfo", "StoreManage")', true, true);
    };
    var checkPhone = function (phone) {
        if (!(/^1(3|4|5|6|7|8|9)\d{9}$/.test(phone))) {
            return false;
        } else return true;
    }

</script>

<script>
    layui.use(['upload', 'jquery'], function () {
        var upload = layui.upload;
            var $ = layui.jquery;
        upload.render({
        elem: '#upload_btn'
        , url: '@Url.Action("UploadOrdinaryFile", "File")'
        ,accept:'file' //普通文件
        , done: function (res) {
              if (res.status) {
                  currentInfo.DelegatingContract = res.fileName;
                  layer.msg("上传成功");
              } else {
                  layer.msg("上传失败");
            }
        }
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
        });
    });


</script>

<div id="store_add_edit_div" class="layui-form" style="display:none;margin-right:20px; margin-top:20px;">
    <div class="layui-row" style="margin-top:20px;">
        <div class="layui-col-sm6 layui-col-md6 ">
            <div class="layui-form-item">
                <label class="layui-form-label">商家名称</label>
                <div class="layui-input-block">
                    <input type="text" id="store_name_edit" name="title" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
                </div>

            </div>

        </div>
        <div class="layui-col-sm6 layui-col-xs6 layui-col-md6 ">
            <label class="layui-form-label">商家类型</label>
            <div class="layui-input-block">
                <select id="store_type_edit" lay-filter="store_type_select">
                    <option value="-1" selected="">请选择</option>

                </select>
            </div>

        </div>
    </div>
    <div class="layui-row" style="margin-top:8px;">
        <div class="layui-col-md6 ">
            <label class="layui-form-label">登录手机号</label>
            <div class="layui-input-block">
                <input type="number" id="store_phone_edit" placeholder="请输入" class="layui-input">
            </div>
        </div>
        <div class="layui-col-md6">
            <label class="layui-form-label">分店数量</label>
            <div class="layui-input-block">
                <input type="number" id="store_count_edit" placeholder="请输入" class="layui-input">
            </div>
            <label style="display:none" class="layui-form-label">登录密码</label>
            <div style="display:none" class="layui-input-block">
                <input type="password" id="store_password_edit" placeholder="包含数字和字母，不可少于6位" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-row" style="margin-top:20px;margin-right:15px;">
        <div class="layui-col-md6 ">
            @*<div class="layui-row">
                    <label class="layui-form-label">分店数量</label>
                    <div class="layui-input-block">
                        <input type="number" id="store_count_edit" placeholder="请输入" class="layui-input">
                    </div>
                </div>*@
            <div class="layui-row" style="margin-top:8px;">
                <label class="layui-form-label">所在地址</label>
                <div class="layui-input-block" id="area-picker">
                    <div style="margin-bottom:10px;" lay-filter="province" class="layui-form">
                        <select id="add_province" name="province" class="province-selector" style="margin-bottom:8px;" lay-filter="province">
                            <option value="">请选择省</option>
                        </select>
                    </div>
                    <div style="margin-bottom:10px;">
                        <select id="add_city" name="city" class="city-selector" style="margin-bottom:8px;" lay-filter="city">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <div style="margin-bottom:10px;">
                        <select id="add_county" name="county" class="county-selector" style="margin-bottom:8px;" lay-filter="county">
                            <option value="">请选择区</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-row" style="margin-top:8px;">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <textarea id="detail_address_edit" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <label class="layui-form-label">授权合同</label>
            <div class="layui-input-block">
                <div class="layui-upload-drag" id="upload_btn" style="height:200px;width: 225px;">
                    <i class="layui-icon layui-icon-add-1" style="font-size: 30px; color: #1E9FFF;"></i>
                    <p>点击上传</p>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" width="200" height="100" id="demo1">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

