
@{
    ViewBag.Title = "SingerList";
}
<script>
    var liList = $(".main-layout-header").find('li');
    $(".main-layout-header").find('.layui-this').removeClass("layui-this");
    $.each(liList, function (index, item) {
        var selectIndex = $(item).attr("data-index");
        if (selectIndex == "3") {
            $(item).addClass("layui-this");
        }
    });

</script>
<style>
    .search_div {
        padding-left: 10px;
        margin-top: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 50px;
        height: 50px;
        background-color: rgb(244,244,244);
    }

    .info_item_div {
        margin-bottom:10px;
        width: 100%;
    }
</style>

<div class=" content">
    <div class="layui-row layui-form">
        <div style="margin-left:10px;  margin-left: 10px;padding-top: 20px;padding-bottom: 20px;">
            <button type="button" id="add_edit_singer_type_btn" class="layui-btn layui-btn-primary layui-btn-sm">设置流派</button>
            <button type="button" id="update_rztk_btn" class="layui-btn layui-btn-primary layui-btn-sm">入驻条款</button>
        </div>
        <div class="search_div">
            搜索音乐人:
            <div class="layui-input-inline">
                <input type="text" id="singer_search_text" style="height:32px;width:250px;margin-right:30px;" autocomplete="off" placeholder="请输入音乐人名称或登录手机号" class="layui-input">
            </div>
            <button id="search_btn" type="button" class="layui-btn layui-btn-normal layui-btn-sm">搜索</button>
            <button id="search_reset_btn" type="button" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>

        </div>
    </div>
    <div id="table_content">
        <table class="layui-table" lay-filter="singer_list" id="singer_list"></table>
    </div>

</div>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="store_status" value="{{d.Enabled}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="store_status" {{ d.Enabled == true ? 'checked' : '' }}>
</script>
<script type="text/html" id="singer_list_opt">
    <a class="layui-btn layui-btn-xs" lay-event="manage">管理</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="auth">认证</a>
</script>

<!--编辑音乐人-->
<div id="show_name_edit_div" class="layui-form" style="display:none; margin-top:50px;">
    <div class="layui-form-item">
        <label class="layui-form-label">显示名称</label>
        <div class="layui-input-block" style="margin-right:30px;">
            <input type="text" id="singer_show_name" name="title" autocomplete="off" placeholder="艺名" class="layui-input">
        </div>
    </div>
</div>

<!--音乐人认证-->
<div id="singer_auth_div" class="layui-form layui-row" style="display:none; margin-top:30px;">
    <div class="layui-col-md2">
        <img src="~/Content/images/tx.png" style="margin-left: 40px;" height="60" width="60" />
    </div>
    <div class="layui-col-md10">
        <div class="layui-row">
            <div class="layui-col-md6">
                <div id="head_img" class="info_item_div">
                    <label>艺名：</label> <span id="singer_ym"></span>
                </div>
                <div class="info_item_div">
                    <label>音乐流派：</label> <span id="singer_lp"></span>
                </div>
                <div class="info_item_div">
                    <label>自我介绍：</label> <span id="singer_zwjs"></span>
                </div>
                <div class="info_item_div">
                    <label>身份证号码：</label> <span id="idcard_no"></span>
                </div>
            </div>
            <div class="layui-col-md6">
                <img id="auth_img" src="~/Content/images/tx.png" style="margin-top: 20px;margin-left:115px" height="110" width="110" />
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6">
                <img id="id_f_img" src="~/Content/images/idcard_1.png" height="115" width="220" />
            </div>
            <div class="layui-col-md6">
                <img id="id_b_img" src="~/Content/images/idcard_2.png" height="115" width="220" />
            </div>
        </div>
    </div>

</div>





<!--音乐人流派管理-->
<div id="singer_type_edit_div" style="display:none;margin:15px ">
    <div class="layui-input-inline">
        <input type="text" id="singer_type_text" style="height:32px;" autocomplete="off" placeholder="请输入音乐人流派名称" class="layui-input">
    </div>
    <button type="button" id="add_singer_type_btn" class="alert_page_btn layui-btn layui-btn-normal layui-btn-sm">新增</button>

    <table class="layui-table" lay-filter="singer_type_table" id="singer_type_table"></table>
</div>
<script type="text/html" id="singer_type_opt">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<!--音乐人入驻条款-->
<div id="singer_rztk_div" style="display:none;margin:25px;">
    <textarea id="singer_rztk_edit" placeholder="请输入入驻条款，限制1000字以内" style="height:390px;width:100%;" class="layui-textarea" name="rztk"></textarea>
</div>

<script>
    layui.use('table', function () {
        var table = layui.table;
        var form = layui.form;

        // 音乐人列表
        table.render({
             elem: '#singer_list'
            , height: "full-275"
            , url: '@Url.Action("GetSingerList", "SingerManage")'
            , limit: 10
            , where: { keyword: $('#singer_search_text').val() }
            , limits: [10, 20, 30, 40, 50]
            ,page: true
            ,autoSort: false
            , cols: [[
                {
                    field: 'SingerName', minWidth: 200, title: '音乐人名称', event: 'singer_detail', style: 'cursor: pointer;',
                    templet: function (d) {
                        return '<span style="color:blue;">'+d.SingerName+'</span>';
                    }
                }
                , { field: 'Phone', width: 120, title: '登录手机号' }
                , { field: 'SingerNameForStore', minWidth: 200, title: '商家端显示名称' }
                , { field: 'AuthenticationStr', width: 120, title: '认证状态' }
                , { field: 'Enabled', title: '启用状态', width: 140,event:'change_status', templet: '#switchTpl', unresize: true  }
                , { fixed: 'right', title: '操作', toolbar: '#singer_list_opt', width: 160 }
            ]]

        });




        table.on('tool(singer_list)', function (obj) {
            var data = obj.data
            var layEvent = obj.event;
            if (layEvent === 'manage') {
                location.href = '@Url.Action("SingerDetail", "SingerManage")?singerId=' + data.SingerId;
            } else if (layEvent === 'edit') {

                layer.open({
                    type: 1,
                    title: '<span style="font-weight:bolder;">编辑显示名称</span>',
                    move: false,
                    btn: ['确定', '取消'],
                    skin: 'tempSkin',
                    area: ['500px', '350px'],
                    content: $('#show_name_edit_div'),
                    success: function () {
                        $('#show_name_edit_div').attr("display", 'block');
                    },
                    end: function () {
                        $('#show_name_edit_div').attr("display", 'none');
                    },
                    yes: function (index, layero) {
                        var tName = $("#singer_show_name").val();
                if (tName == "") {
                    layer.msg("艺名不能为空");
                    return;
                }
                if (tName.length >50 ) {
                    layer.msg("艺名不能超过50个字符");
                    return;
                        }

                        Service.ajax(JSON.stringify({ singerId: data.SingerId, name: $("#singer_show_name").val() }), function (result) {
                            if (result.status) {
                                layer.msg('艺名更新成功');
                                table.reload('singer_list');
                                layer.close(index);
                            }
                        }, '@Url.Action("UpdateSingerName", "SingerManage")', true);
                    }
                });

            }
            else if (layEvent === 'singer_detail') {
                location.href = '@Url.Action("SingerDetail", "SingerManage")?singerId=' + data.SingerId;

            } else if (layEvent == 'change_status') {//改变启用状态
                if (data.Enabled) {
                    layer.confirm('禁用后，该音乐人登录手机号不可登录系统，确认禁用该音乐人？', { btn: ['确定', '取消'] },
                        function (index) {
                            layer.close(index);
                            Service.ajax(JSON.stringify({ id: data.SingerId, status: false }), function (result) {
                                if (result.status) {
                                    layer.msg("禁用成功");
                                    table.reload('singer_list');
                                } else {
                                    layer.msg(result.msg);
                                }
                            }, '@Url.Action("UpdateSingerStatus", "SingerManage")', true);
                        },
                        function (index) {
                            layer.close(index);
                            table.reload('singer_list');
                        });
                } else {
                    Service.ajax(JSON.stringify({ id: data.SingerId, status: true }), function (result) {
                        if (result.status) {
                            layer.msg("启用成功");
                            table.reload('singer_list');

                        } else {
                            layer.msg(result.msg);
                        }
                    }, '@Url.Action("UpdateSingerStatus", "SingerManage")', true);
                }

            } else if (layEvent == 'auth') {
                $('#singer_ym').html(data.SingerName);
                $('#singer_lp').html(data.SingerTypeName);
                $('#singer_zwjs').html(data.Introduce);
                $('#idcard_no').html(data.IdCardNo);
                $('#head_img').attr("src", data.HeadImgFullPath);
                $('#id_f_img').attr("src", data.IdCardFrontFullPath);
                $('#id_b_img').attr("src", data.IdCardBackFullPath);
                var root = "http://152.136.227.143";
                switch (data.Authentication) {
                    case 1://待审核
                        $('#auth_img').attr("src", root+'/Content/images/待处理.png');
                        break;
                    case 2://未通过
                        $('#auth_img').attr("src", root+'/Content/images/未通过.jpg');
                        break;
                    case 3://已通过认证
                         $('#auth_img').attr("src", root+'/Content/images/已通过.jpg');
                        break;
                    default:
                        $('#auth_img').attr("src", '');
                }
                if (data.Authentication == 1) {//待审核
                    layer.open({
                        type: 1,
                        title: '<span style="font-weight:bolder;">音乐人认证</span>',
                        move: false,
                        btn: ['通过', '未通过'],
                        skin: 'tempSkin',
                        area: ['700px', '450px'],
                        content: $('#singer_auth_div'),
                        success: function () {
                            $('#singer_auth_div').attr("display", 'block');
                        },
                        end: function () {
                            $('#singer_auth_div').attr("display", 'none');
                        },
                        yes: function (index, layero) {
                            layer.msg('点击了通过');
                            layer.close(index);
                            Service.ajax(JSON.stringify({ singerId: data.SingerId, auth: 3 }), function (result) {
                                if (result.status) {
                                    layer.msg('审核通过-成功');
                                    table.reload('singer_list');
                                    layer.close(index);
                                }
                            }, '@Url.Action("UpdateAuthStatus", "SingerManage")', true);
                        },
                        btn2: function (index, layero) {
                            Service.ajax(JSON.stringify({ singerId: data.SingerId, auth: 2 }), function (result) {
                                if (result.status) {
                                    layer.msg('审核未通过-成功');
                                    table.reload('singer_list');
                                    layer.close(index);
                                }
                            }, '@Url.Action("UpdateAuthStatus", "SingerManage")', true);
                        }
                    });
                }
                else if (data.Authentication == 0) {
                    layer.alert("该音乐人未申请认证");
                } else {
                    layer.open({
                        type: 1,
                        title: '<span style="font-weight:bolder;">音乐人认证</span>',
                        move: false,
                        //btn: ['通过', '未通过'],
                        skin: 'tempSkin',
                        area: ['700px', '450px'],
                        content: $('#singer_auth_div'),
                        success: function () {
                            $('#singer_auth_div').attr("display", 'block');
                        },
                        end: function () {
                            $('#singer_auth_div').attr("display", 'none');
                        },

                    });
                }

            }
        });






        // 音乐人流派类型表格
        table.render({
             elem: '#singer_type_table'
            , height: "160"
            , url: '@Url.Action("GetSingerTypeList", "SingerManage")'
            , size: 'sm'
            , cols: [[
                {type: "numbers", fixed:"left", width:50}
                , { field: 'SingerTypeName', width: 310, title: '流派名称',edit:'text' }
                , { fixed: 'right', title: '操作', toolbar: '#singer_type_opt', width: 100 }
            ]]

        });
        // 监听音乐人流派类型表格编辑
        table.on('edit(singer_type_table)', function (obj) {
            var temp;
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            var param = { "Id": obj.data.Id, "SingerTypeName": obj.data.SingerTypeName };
            if (obj.data.StoreTypeName == "") {
                layer.msg("音乐人流派名称不能为空");
                return;
            }
            Service.ajax(JSON.stringify(param), function (result) {
                if (result.status) {
                    layer.msg("保存成功");
                }
            }, '@Url.Action("AddOrUpdateSingerType", "SingerManage")',  true);

        });
        // 增加音乐人类型
        $("#add_singer_type_btn").click(function () {
            if ($("#singer_type_text").val() == "") {
                layer.msg("音乐人流派名称不能为空");
                return;
            }
            var param = { "Id": -1, "SingerTypeName": $("#singer_type_text").val() };
            Service.ajax(JSON.stringify(param), function (result) {
                if (result.status) {
                    layer.msg("添加成功");
                    $("#singer_type_text").val("");
                    table.reload('singer_type_table');
                }
            }, '@Url.Action("AddOrUpdateSingerType", "SingerManage")', true);

        });
    //音乐人流派 其他事件监听
        table.on('tool(singer_type_table)', function (obj) {
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
             if (layEvent === 'del') {
                layer.confirm('删除后，新商家无法选择该类型，确认要删除吗？', function (index) {

                    layer.close(index);
                    Service.ajax(JSON.stringify({ id: data.Id }), function (result) {
                        if (result.status) {
                            layer.msg("删除成功");
                            obj.del(); //删除对应行（tr）的DOM结构
                        } else {
                            layer.alert(result.msg);
                        }
                    }, '@Url.Action("DeleteSingerType", "SingerManage")', true);
                });
            }
        });

        $("#add_edit_singer_type_btn").click(function () {
            layer.open({
                type: 1,
                title: '<span style="font-weight:bolder;">设置流派</span>',
                move: false,
                btn: ['确定', '取消'],
                area: ['500px', '350px'],
                content: $('#singer_type_edit_div'),
                success: function () {
                    $('#singer_type_edit_div').attr("display", 'block');
                },
                end: function () {
                    $('#singer_type_edit_div').attr("display", 'none');
                },
                yes: function (index, layero) {
                    layer.close(index);
                }
            });
        });
        $("#update_rztk_btn").click(function () {
            Service.ajax(JSON.stringify({}), function (result) {
                if (result.status) {
                    $("#singer_rztk_edit").val(result.data.ParamContent);
                   // form.render();
                }
            }, '@Url.Action("GetParamByType", "SingerManage")', true);

            layer.open({
                type: 1,
                title: '<span style="font-weight:bolder;">设置入驻条款</span>',
                move: false,
                btn: ['确定', '取消'],
                area: ['700px', '550px'],
                content: $('#singer_rztk_div'),
                success: function () {
                    $('#singer_rztk_div').attr("display", 'block');
                },
                end: function () {
                    $('#singer_rztk_div').attr("display", 'none');
                },
                yes: function (index, layero) {
                    Service.ajax(JSON.stringify({ ParamContent: $("#singer_rztk_edit").val(),ParamType:1 }), function (result) {
                        if (result.status) {
                            layer.msg("保存成功");
                        }
                    }, '@Url.Action("UpdateParam", "SingerManage")', true);
                    layer.close(index);
                }
            });
        });

        $("#search_btn").click(function () {
            table.reload('singer_list',
                {
                    page: {curr: 1 }
                    ,where: { keyword: $("#singer_search_text").val(), }
                });
        });

        $("#search_reset_btn").click(function () {
            $("#singer_search_text").val('');
            table.reload('singer_list',
                {
                    page: {curr: 1 }
                    ,where: { keyword: '', }
                });
        });
    });
</script>

