@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>后台登录</title>
    @Styles.Render("~/Content/mycss")
    @Styles.Render("~/Content/layui")
   
    @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/layui")
    @Scripts.Render("~/bundles/minejs")

</head>

<body>
    <div class="m-login-bg">
        <div class="m-login">
            <h3>Mic管理后台</h3>
            <div class="m-login-warp">

                <div class="layui-form-item">
                    <input type="text" name="username" id="username" required lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" id="password" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                </div>

                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal " id="loginSubmit" lay-submit lay-filter="login">登录</button>
                    </div>

                </div>

            </div>
            <p class="copyright">Copyright 2019 by Mic</p>
        </div>
    </div>

    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form,
                layer = layui.layer;
            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                },
                password: [/(.+){6,12}$/, '密码必须6到12位'],
                verity: [/(.+){6}$/, '验证码必须是6位'],

            });



        });

        $(function () {
            $("#username").select();
            $("#loginSubmit").click(function () {
            if ($("#username").val().trim().length == 0) {
                layer.msg("用户名不能为空");
                $("#username").focus();
                return;
            }
            var param = {
                UserName: $("#username").val().trim(),
                Password: $("#password").val().trim()
            };
            Service.ajax(JSON.stringify(param), function (result) {
                //$("#loginSubmit").attr("disabled", false);
                if (result.status) {

                        window.location.assign('@Url.Action("SongBookList", "SongManage")');

                }
                else {
                    layer.msg(result.msg);
                    $("#username").select();
                }
            }, '@Url.Action("VerifyLogin", "Account")', true, true);
        });

        $("body").keydown(function () {
            if (event.keyCode == "13") {//keyCode=13是回车键
                $("#loginSubmit").click();
                //$("#loginSubmit").attr("disabled", true);
            }
        });

    });
    </script>
    <!--禁止页面回退-->
    <script language="javascript">
        //防止页面后退
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
    </script>
</body>

</html>
