<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mic后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Styles.Render("~/Content/layui")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/layui")
    @Scripts.Render("~/bundles/minejs")
    <link href="~/Content/layui-formSelects/formSelects-v4.css" rel="stylesheet" />
    <script src="~/Content/layui-formSelects/formSelects-v4.js"></script>


    @using Mic.Web.Common
    @{
        var globalUserSessionInfo = SessionHelper.GetUser(Session);
        string UserName = string.Empty;
        if (globalUserSessionInfo != null)
        {
            UserName = globalUserSessionInfo.UserName;
        }
    }

    <style>
        body {
            background-color: rgb(244,244,244);
        }

        .m_content {
            background-color: white;
            margin-top: 25px;
        }

        .main-layout-header {
            background-color: #393D49
        }
    </style>
</head>

<body>
    <div class="main-layout">
        <div class="main-layout-header">
            <div class="layui-container">
                <ul class="layui-nav">
                    <li class="layui-nav-item"><a><img src="~/Content/images/logo.jpg" /></a></li>

                    <li data-index="1" class="layui-nav-item layui-this">
                        <a href="/SongManage/SongBookList">曲库管理</a>
                    </li>
                    <li data-index="2" class="layui-nav-item">
                        <a href="/StoreManage/StoreManageList">商家管理</a>
                    </li>
                    <li data-index="3" class="layui-nav-item">
                        <a href="/SingerManage/SingerList">独立音乐人管理</a>
                    </li>
                    <li data-index="4" class="layui-nav-item">
                        <a href="/Statistics/StatisticsView">统计分析</a>

                    </li>
                    <li data-index="5" class="layui-nav-item">
                        <a href="/Account/AccountManageView">账号管理</a>
                    </li>
                    <li class="layui-nav-item" style="position: absolute;right: 0px">
                        <a href="javascript:;">@UserName</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" id="logout">退出当前账号</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>




        <div class="layui-container m_content">
            @RenderBody()
        </div>
    </div>
    <script>
        layui.use('element', function () {
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

            //监听导航点击
            element.on('nav(demo)', function (elem) {
                //console.log(elem)
                layer.msg(elem.text());
            });
        });

        $("#logout").click(function () {
             Service.ajax(JSON.stringify({ }), function (result) {
            if (result.status) {
            }
        }, '@Url.Action("Logout", "Account")', true);
           window.location.assign('@Url.Action("Login", "Account")');
        });

    </script>

</body>
</html>